Repository pyro-ppl/numpyro: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check
        args: ["--fix", "--output-format=full"]
        files: "(.py$)|(.*.ipynb$)"
        language: system

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        files: "(.py$)|(.*.ipynb$)"

      - id: mypy
        name: mypy
        language: python
        entry: mypy --install-types --non-interactive
        files: ^numpyro/


  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-yaml
      - id: check-added-large-files
        exclude: notebooks/

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        stages: [pre-commit, commit-msg]
        args:
          [--ignore-words-list, "Teh,aas,ans", --check-filenames, --skip, "*.ipynb"]

fix promote batch shape logic
  numpyro/distributions/batch_util.py
  test/contrib/test_control_flow.py
Due: ruff, ruff-format, mypy

lint
  test/contrib/test_control_flow.py
Due: ruff, ruff-format

Fix promote_batch_shape logic to take batch shapes of all parameters (#1973)
  numpyro/distributions/batch_util.py
  test/contrib/test_control_flow.py
Due: ruff, ruff-format, mypy

add version asserts for various examples
  examples/capture_recapture.py
  examples/cvae-flax/main.py
  examples/dais_demo.py
  examples/hmcecs.py
  examples/hmm_enum.py
  examples/hsgp.py
  examples/ssbvm_mixture.py
  examples/stein_bnn.py
  examples/var2.py
  examples/zero_inflated_poisson.py
Due: ruff, ruff-format

Pass value arg to optax, allowing use of reduce_on_plateau
  numpyro/optim.py
Due: ruff, ruff-format, mypy

Fix typo and tweak language in get_dependencies() docstring
  numpyro/infer/inspect.py
Due: ruff, ruff-format, mypy

Add back last sentence
  numpyro/infer/inspect.py
Due: ruff, ruff-format, mypy

Lint
  numpyro/infer/inspect.py
Due: ruff, ruff-format, mypy

Remove cached `plates` from `AutoGuide`.
  numpyro/infer/autoguide.py
Due: ruff, ruff-format, mypy

Remove cached `plates` from `AutoGuide`. (#1976)
  numpyro/infer/autoguide.py
Due: ruff, ruff-format, mypy

Fix typo and tweak wording in `get_dependencies()` docs (#1975)
  numpyro/infer/inspect.py
Due: ruff, ruff-format, mypy

Navigate to our forum for discussions
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Update forum message
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Update config.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Navigate to our forum for discussions (#1978)
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Unify `sample_posterior()` signatures
  numpyro/infer/autoguide.py
Due: ruff, ruff-format, mypy

Unify `sample_posterior()` signatures (#1979)
  numpyro/infer/autoguide.py
Due: ruff, ruff-format, mypy

add guidelines for bug report and feature request
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

add guidelines for bug report and feature request (#1980)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Make seed handler stateless by default
  numpyro/handlers.py
  test/test_handlers.py
Due: ruff, ruff-format, mypy

Make seed handler stateless by default (#1983)
  numpyro/handlers.py
  test/test_handlers.py
Due: ruff, ruff-format, mypy

fix tracer leak in hmc
  numpyro/infer/hmc.py
Due: ruff, ruff-format, mypy

fix trace leakage in SL-dais
  numpyro/infer/autoguide.py
Due: ruff, ruff-format, mypy

Fix pad calculation
  numpyro/util.py
Due: ruff, ruff-format, mypy

Address some PR comments
  numpyro/optim.py
Due: ruff, ruff-format, mypy

Simplify, improve typing
  numpyro/optim.py
Due: ruff, ruff-format, mypy

Address more PR comments
  numpyro/optim.py
Due: ruff, ruff-format, mypy

Add `CirculantNormal` distribution.
  docs/source/distributions.rst
  numpyro/distributions/__init__.py
  numpyro/distributions/constraints.py
  numpyro/distributions/continuous.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

Fix Jacobian of `RealFastFourierTransform`.
  numpyro/distributions/transforms.py
Due: ruff, ruff-format, mypy

Add transform to pack and unpack Fourier coefficients.
  docs/source/distributions.rst
  numpyro/distributions/transforms.py
  test/test_transforms.py
Due: ruff, ruff-format, mypy

Implement `CirculantNormal` using transformations.
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

Fix typo in skip reason for `test_generated_sample_distribution`.
  test/test_distributions.py
Due: ruff, ruff-format

Add `CirculantNormal` example notebook.
  docs/source/index.rst
  notebooks/source/circulant_gp.ipynb
Due: ruff, ruff-format

Fix `noqa` comment.
  notebooks/source/conf.py
Due: ruff, ruff-format

Reformat `circulant_gp` example notebook.
  notebooks/source/circulant_gp.ipynb
Due: ruff, ruff-format

Fix keyword argument for `PackRealFastFourierCoefficientsTransform` test.
  test/test_transforms.py
Due: ruff, ruff-format

Fix batch shape for mean, covariance_row, covariance_matrix.
  numpyro/distributions/continuous.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

Add analytic KL divergence of diagonal `Normal` from `CirculantNormal`.
  numpyro/distributions/kl.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

Fix sign bug in `_PositiveDefiniteCirculantVector` validity check.
  numpyro/distributions/constraints.py
Due: ruff, ruff-format, mypy
