Repository pyro-ppl/numpyro: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check
        args: ["--fix", "--output-format=full"]
        files: "(.py$)|(.*.ipynb$)"
        language: system

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        files: "(.py$)|(.*.ipynb$)"

      - id: mypy
        name: mypy
        language: python
        entry: mypy --install-types --non-interactive
        files: ^numpyro/


  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-yaml
      - id: check-added-large-files
        exclude: notebooks/

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        stages: [pre-commit, commit-msg]
        args:
          [--ignore-words-list, "Teh,aas,ans", --check-filenames, --skip, "*.ipynb"]

add more tests
  test/contrib/test_module.py
Due: ruff, ruff-format

improvement
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

add mcmc cases
  numpyro/contrib/module.py
  test/contrib/test_module.py
Due: ruff, ruff-format, mypy

Fix tracer leak in hmc (#1985)
  numpyro/infer/hmc.py
Due: ruff, ruff-format, mypy

fix trace leakage in SL-dais (#1984)
  numpyro/infer/autoguide.py
Due: ruff, ruff-format, mypy

Fix batch shape for mean, covariance_row, covariance_matrix.
  numpyro/distributions/continuous.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

Expand docstring and add references for `Circulant` distribution.
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

Reformat `circulant_gp` example notebook.
  notebooks/source/circulant_gp.ipynb
Due: ruff, ruff-format

Add `CirculantNormal` distribution.
  docs/source/distributions.rst
  numpyro/distributions/__init__.py
  numpyro/distributions/constraints.py
  numpyro/distributions/continuous.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

Fix typo in skip reason for `test_generated_sample_distribution`.
  test/test_distributions.py
Due: ruff, ruff-format

Add analytic KL divergence of diagonal `Normal` from `CirculantNormal`.
  numpyro/distributions/kl.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

Fix sign bug in `_PositiveDefiniteCirculantVector` validity check.
  numpyro/distributions/constraints.py
Due: ruff, ruff-format, mypy

Fix Jacobian of `RealFastFourierTransform`.
  numpyro/distributions/transforms.py
Due: ruff, ruff-format, mypy

Add `CirculantNormal` example notebook.
  docs/source/index.rst
  notebooks/source/circulant_gp.ipynb
Due: ruff, ruff-format

Add transform to pack and unpack Fourier coefficients.
  docs/source/distributions.rst
  numpyro/distributions/transforms.py
  test/test_transforms.py
Due: ruff, ruff-format, mypy

Fix shape promotion for `Circulant` distribution args.
  numpyro/distributions/continuous.py
  numpyro/distributions/util.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

Fix keyword argument for `PackRealFastFourierCoefficientsTransform` test.
  test/test_transforms.py
Due: ruff, ruff-format

Implement `CirculantNormal` using transformations.
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

remove tracer leak xfail for the current passing tests
  .github/workflows/ci.yml
  test/contrib/stochastic_support/test_sdvi.py
  test/contrib/test_enum_elbo.py
  test/infer/test_autoguide.py
  test/infer/test_gradient.py
  test/infer/test_hmc_gibbs.py
  test/test_handlers.py
  test/test_pickle.py
Due: ruff, ruff-format

remove all global jax live arrays
  .github/workflows/ci.yml
  test/conftest.py
  test/contrib/hsgp/test_laplacian.py
  test/contrib/stochastic_support/test_dcc.py
  test/contrib/test_esc_proxies.py
  test/contrib/test_infer_discrete.py
  test/contrib/test_tfp.py
  test/infer/test_ensemble_mcmc.py
  test/infer/test_gradient.py
  test/infer/test_hmc_util.py
  test/test_constraints.py
  test/test_distributions.py
  test/test_distributions_mixture.py
  test/test_distributions_util.py
  test/test_flows.py
  test/test_transforms.py
Due: ruff, ruff-format

add issues for each tracer leak test
  .github/workflows/ci.yml
  test/contrib/test_enum_elbo.py
  test/infer/test_mcmc.py
Due: ruff, ruff-format

fix failing tests
  numpyro/distributions/discrete.py
  numpyro/ops/provenance.py
  test/ops/test_provenance.py
  test/test_distributions_util.py
Due: ruff, ruff-format, mypy

fix jax core deprecation in provenance
  numpyro/ops/provenance.py
  test/ops/test_provenance.py
Due: ruff, ruff-format, mypy

Refactor
  numpyro/contrib/module.py
  test/contrib/test_module.py
Due: ruff, ruff-format, mypy

support python 3.9
  numpyro/contrib/module.py
  test/contrib/test_module.py
Due: ruff, ruff-format, mypy

init example
  notebooks/source/nnx_example.ipynb
Due: ruff, ruff-format

Mark xfail for leaked tracer tests (#1997)
  .github/workflows/ci.yml
  numpyro/distributions/discrete.py
  numpyro/ops/provenance.py
  test/conftest.py
  test/contrib/einstein/test_steinvi.py
  test/contrib/hsgp/test_laplacian.py
  test/contrib/stochastic_support/test_dcc.py
  test/contrib/test_enum_elbo.py
  test/contrib/test_infer_discrete.py
  test/contrib/test_tfp.py
  test/infer/test_ensemble_mcmc.py
  test/infer/test_gradient.py
  test/infer/test_hmc_util.py
  test/infer/test_mcmc.py
  test/infer/test_svi.py
  test/ops/test_provenance.py
  test/test_constraints.py
  test/test_distributions.py
  test/test_distributions_mixture.py
  test/test_distributions_util.py
  test/test_flows.py
  test/test_transforms.py
Due: ruff, ruff-format, mypy

fix tracer leak in loss function with mutable state
  .github/workflows/ci.yml
  numpyro/infer/svi.py
  test/infer/test_svi.py
Due: ruff, ruff-format, mypy

fix model
  notebooks/source/nnx_example.ipynb
Due: ruff, ruff-format

use functional interface funsor.adjoint.adjoint
  .github/workflows/ci.yml
  numpyro/contrib/funsor/discrete.py
  test/contrib/test_infer_discrete.py
Due: ruff, ruff-format, mypy

cleanup nb
  notebooks/source/nnx_example.ipynb
Due: ruff, ruff-format

artifacts docs
  docs/source/_static/img/examples/nnx_example.png
  docs/source/index.rst
Due: none

fix tracer leak in loss function with mutable state (#2001)
  .github/workflows/ci.yml
  numpyro/infer/svi.py
  test/infer/test_svi.py
Due: ruff, ruff-format, mypy

Updates from PR comments
  numpyro/optim.py
  test/test_optimizers.py
Due: ruff, ruff-format, mypy

Special-case the reduce on plateau scheduler for JIT test
  test/test_optimizers.py
Due: ruff, ruff-format

remove code
  notebooks/source/nnx_example.ipynb
  numpyro/contrib/module.py
  test/contrib/test_module.py
Due: ruff, ruff-format, mypy

rm code
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

refactor
  notebooks/source/nnx_example.ipynb
  numpyro/contrib/module.py
  test/contrib/test_module.py
Due: ruff, ruff-format, mypy

skip tests
  numpyro/contrib/module.py
  test/contrib/test_module.py
Due: ruff, ruff-format, mypy

redback 1/n
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy
