Repository pyro-ppl/numpyro: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: ruff check
  args:
  - --fix
  - --output-format=full
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

mypy:
  name: mypy
  language: python
  entry: mypy --install-types --non-interactive

fix: update `call_with_intermediates` method to return `Optional[PyTree]`
  numpyro/_typing.py
  numpyro/distributions/transforms.py
Due: ruff, ruff-format, mypy

fix
  numpyro/infer/util.py
  test/infer/test_infer_util.py
Due: ruff, ruff-format, mypy

fix test
  test/contrib/test_module.py
Due: ruff, ruff-format

fix test (#2076)
  test/contrib/test_module.py
Due: ruff, ruff-format

fix (#2073)
  numpyro/infer/util.py
  test/infer/test_infer_util.py
Due: ruff, ruff-format, mypy

implementation init
  numpyro/distributions/truncated.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

rtol
  test/test_distributions.py
Due: ruff, ruff-format

improve tol for specific distribution
  test/test_distributions.py
Due: ruff, ruff-format

Add `cdf` method for truncated distributions (#2074)
  numpyro/distributions/truncated.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

patch param is a lambda function
  numpyro/infer/inspect.py
  test/test_model_rendering.py
Due: ruff, ruff-format, mypy

implement left and right censored
  numpyro/distributions/__init__.py
  numpyro/distributions/censored.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

update tests
  test/test_distributions.py
  test/test_gof.py
Due: ruff, ruff-format

revert unintended changes to tests
  test/test_distributions.py
Due: ruff, ruff-format

implement left and right censored
  numpyro/distributions/__init__.py
  numpyro/distributions/censored.py
Due: ruff, ruff-format, mypy

add tests
  test/test_distributions.py
  test/test_gof.py
Due: ruff, ruff-format

linting
  test/test_distributions.py
Due: ruff, ruff-format

add censored specific tests and update clipping minval
  numpyro/distributions/censored.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

update tests
  test/test_distributions.py
Due: ruff, ruff-format

DOC: Correct typos in Hierarchical Forecasting
  notebooks/source/hierarchical_forecasting.ipynb
Due: ruff, ruff-format

patch param is a lambda function (#2078)
  numpyro/infer/inspect.py
  test/test_model_rendering.py
Due: ruff, ruff-format, mypy

DOC: Correct typos in Hierarchical Forecasting (#2082)
  notebooks/source/hierarchical_forecasting.ipynb
Due: ruff, ruff-format

update tests
  numpyro/distributions/censored.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

update minval and tests
  numpyro/distributions/censored.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

add censored to documentation
  docs/source/distributions.rst
Due: none

fix test
  test/test_distributions.py
Due: ruff, ruff-format

DOC: Update the URL to Stochastic Volatility PyMC example
  examples/stochastic_volatility.py
Due: ruff, ruff-format

DOC: Update the URL to Stochastic Volatility PyMC example (#2083)
  examples/stochastic_volatility.py
Due: ruff, ruff-format

DOC: Update the MC Stan link to Baseball example
  examples/baseball.py
Due: ruff, ruff-format

DOC: Update the MC Stan link to Predator-Prey Model
  examples/ode.py
Due: ruff, ruff-format

DOC: Update MC Stan links in Examples (#2084)
  examples/baseball.py
  examples/ode.py
Due: ruff, ruff-format

update docstring and type hint
  numpyro/distributions/censored.py
Due: ruff, ruff-format, mypy

update doctest
  numpyro/distributions/censored.py
Due: ruff, ruff-format, mypy

update doctest again
  numpyro/distributions/censored.py
Due: ruff, ruff-format, mypy

using Generic type for the base transform with NumLike bound
  numpyro/_typing.py
  numpyro/distributions/constraints.py
  numpyro/distributions/transforms.py
Due: ruff, ruff-format, mypy

formatting transform methods
  numpyro/_typing.py
  numpyro/distributions/transforms.py
Due: ruff, ruff-format, mypy

fix typing of ComplexTransform
  numpyro/distributions/transforms.py
Due: ruff, ruff-format, mypy

format transforms module again
  numpyro/distributions/transforms.py
Due: ruff, ruff-format, mypy

fix for transform.inv might get value None
  numpyro/distributions/transforms.py
Due: ruff, ruff-format, mypy

update sample shape
  numpyro/distributions/censored.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: (.py$)|(.*.ipynb$)
  ruff-format: any of: (.py$)|(.*.ipynb$)
  mypy: any of: ^numpyro/
