Repository pyro-ppl/numpyro: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: ruff check
  args:
  - --fix
  - --output-format=full
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

mypy:
  name: mypy
  language: python
  entry: mypy --install-types --non-interactive

test: pickle `jax.random.key`
  test/test_pickle.py
Due: ruff, ruff-format

test: use legacy keys in `test/test_pickle.py` until https://github.com/jax-ml/jax/issues/35065 is resolved
  test/test_pickle.py
Due: ruff, ruff-format

chore: update python version requirement to >=3.10
  setup.py
Due: ruff, ruff-format

fix: Bump minimum python version to 3.11
  setup.py
Due: ruff, ruff-format

Add PSIS k-hat diagnostic for variational inference
  docs/source/utilities.rst
  numpyro/infer/__init__.py
  numpyro/infer/importance.py
  test/infer/test_importance.py
Due: ruff, ruff-format, mypy

Revert "test: update test effected by the `optax==0.2.7` release (#2137)"
  test/test_optimizers.py
Due: ruff, ruff-format

test: adjust assertion for `my_fn_calls` based on optax version in `test/test_optimizers.py`
  test/test_optimizers.py
Due: ruff, ruff-format

Revert "chore: `setup.py` -> `pyproject.toml`"
  pyproject.toml
  setup.py
Due: ruff, ruff-format

chore: `setup.py` -> `pyproject.toml`
  pyproject.toml
  setup.py
Due: ruff, ruff-format

fix: remove test skip
  test/test_optimizers.py
Due: ruff, ruff-format

fix: Bump minimum python version to 3.11
  pyproject.toml
Due: none

fix: remove optax version checks from the test
  test/test_optimizers.py
Due: ruff, ruff-format

test: adjust assertion for `my_fn_calls` based on optax version in `test/test_optimizers.py` (#2140)
  test/test_optimizers.py
Due: ruff, ruff-format

build: `setup.py` -> `pyproject.toml` (#2141)
  pyproject.toml
  setup.py
Due: ruff, ruff-format

chore: remove `UV_PYTHON` from env variable
  .github/workflows/ci.yml
Due: none

chore: explicit python installation
  .github/workflows/ci.yml
Due: none

fix: remove `--system` flag
  .github/workflows/ci.yml
Due: none

Add PSIS k-hat diagnostic for variational inference (#2139)
  docs/source/utilities.rst
  numpyro/infer/__init__.py
  numpyro/infer/importance.py
  test/infer/test_importance.py
Due: ruff, ruff-format, mypy

numpyro.primitives: correct implementation and use of callable init_value()
  numpyro/primitives.py
Due: ruff, ruff-format, mypy

Implement log spectral density for squared exponential
  numpyro/contrib/hsgp/spectral_densities.py
Due: ruff, ruff-format, mypy

doc: a lists of -> a list of
  numpyro/infer/inspect.py
Due: ruff, ruff-format, mypy

doc: Fix typo in notebooks/source/conf.py
  notebooks/source/conf.py
Due: ruff, ruff-format

doc: Correct typo in docs/source/conf.py
  docs/source/conf.py
Due: ruff, ruff-format

init no blackjax
  numpyro/infer/mclmc.py
  test/infer/test_mclmc.py
Due: ruff, ruff-format, mypy

types
  numpyro/_typing.py
  numpyro/infer/mclmc.py
  pyproject.toml
Due: ruff, ruff-format, mypy

docstrings
  numpyro/infer/mclmc.py
Due: ruff, ruff-format, mypy

cleanup
  numpyro/infer/mclmc.py
Due: ruff, ruff-format, mypy

doc: Fix a few typos in numpyro code comments (#2144)
  docs/source/conf.py
  notebooks/source/conf.py
  numpyro/infer/inspect.py
Due: ruff, ruff-format, mypy

tests
  test/infer/test_mclmc.py
Due: ruff, ruff-format

add print_rate option
  numpyro/infer/mcmc.py
  numpyro/util.py
Due: ruff, ruff-format, mypy

edits from tests
  numpyro/util.py
Due: ruff, ruff-format, mypy

add typing
  numpyro/util.py
Due: ruff, ruff-format, mypy

pre-commit checks
  numpyro/util.py
Due: ruff, ruff-format, mypy

fix: sync enviorment
  .github/workflows/ci.yml
  .gitignore
  docs/requirements.txt
  pyproject.toml
Due: none

Always call jnp.finfo on array dtypes, not arrays themselves
  numpyro/distributions/continuous.py
  numpyro/distributions/discrete.py
Due: ruff, ruff-format, mypy

Add GPJax notebook
  notebooks/source/gpjax_example.ipynb
  notebooks/source/index.rst
  pyproject.toml
Due: ruff, ruff-format

chore: remove `dm-haiku` support from `numpyro.contrib.module`
  README.md
  docs/requirements.txt
  docs/source/primitives.rst
  examples/prodlda.py
  numpyro/contrib/module.py
  pyproject.toml
  test/contrib/test_esc_proxies.py
  test/contrib/test_module.py
  test/test_examples.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: (.py$)|(.*.ipynb$)
  ruff-format: any of: (.py$)|(.*.ipynb$)
  mypy: any of: ^numpyro/
