Repository pyro-ppl/numpyro: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check
        args: ["--fix", "--output-format=full"]
        files: "(.py$)|(.*.ipynb$)"
        language: system

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        files: "(.py$)|(.*.ipynb$)"

      - id: mypy
        name: mypy
        language: python
        entry: mypy --install-types --non-interactive
        files: ^numpyro/


  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-yaml
      - id: check-added-large-files
        exclude: notebooks/

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        stages: [pre-commit, commit-msg]
        args:
          [--ignore-words-list, "Teh,aas,ans", --check-filenames, --skip, "*.ipynb"]

fix(setup.py): update jaxns version constraint to allow a range
  setup.py
Due: ruff, ruff-format

fix(test_nested_sampling): remove xfail marker for JAX >= 0.6.0
  test/contrib/test_nested_sampling.py
Due: ruff, ruff-format

refactor: rename Protocols for consistency and update type annotations
  numpyro/_typing.py
  numpyro/distributions/conjugate.py
  numpyro/distributions/constraints.py
  numpyro/distributions/continuous.py
  numpyro/distributions/copula.py
  numpyro/distributions/discrete.py
  numpyro/distributions/distribution.py
  numpyro/distributions/flows.py
  numpyro/distributions/mixtures.py
  numpyro/distributions/transforms.py
  numpyro/distributions/truncated.py
  numpyro/handlers.py
  numpyro/primitives.py
  test/test_typing.py
Due: ruff, ruff-format, mypy

fix(tests): fix for failing nested sampling unit tests (#2034)
  setup.py
  test/contrib/test_nested_sampling.py
Due: ruff, ruff-format

fix: add `DistributionLike` alias to maintain compatibility with existing user code
  numpyro/_typing.py
Due: ruff, ruff-format, mypy

Revert "refactor: remove mean and variance properties from Dagum distribution"
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

Revert "fix(test): update mean/var skip conditions for Dagum distribution"
  test/test_distributions.py
Due: ruff, ruff-format

fix: update key parameter type to Optional in base distribution methods
  numpyro/distributions/distribution.py
Due: ruff, ruff-format, mypy

Revert "fix(test): import jax for compatibility and update xfail condition"
  test/contrib/test_nested_sampling.py
Due: ruff, ruff-format

fix(Dagum): replacing gammaln with betaln for numerical stability
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

fix(test): adjust atol parameter for variance assertion in `test_mean_var`
  test/test_distributions.py
Due: ruff, ruff-format

feat(gh-299): Type hints in distributions modules (#2032)
  numpyro/_typing.py
  numpyro/distributions/conjugate.py
  numpyro/distributions/constraints.py
  numpyro/distributions/continuous.py
  numpyro/distributions/copula.py
  numpyro/distributions/directional.py
  numpyro/distributions/discrete.py
  numpyro/distributions/distribution.py
  numpyro/distributions/flows.py
  numpyro/distributions/mixtures.py
  numpyro/distributions/transforms.py
  numpyro/distributions/truncated.py
  numpyro/distributions/util.py
  numpyro/handlers.py
  numpyro/primitives.py
  test/test_distributions.py
  test/test_typing.py
Due: ruff, ruff-format, mypy

fix(Dagum): update parameter names and documentation
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

feat: Dagum distribution (#2014)
  .github/workflows/ci.yml
  docs/source/distributions.rst
  numpyro/distributions/__init__.py
  numpyro/distributions/continuous.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

Adds support for passing initial value to transform
  numpyro/distributions/transforms.py
  test/test_transforms.py
Due: ruff, ruff-format, mypy

Missed tree flatten
  numpyro/distributions/transforms.py
Due: ruff, ruff-format, mypy

draft of MCLMC
  mclmc.py
Due: ruff, ruff-format

broadcasts shapes as per comments
  numpyro/distributions/transforms.py
Due: ruff, ruff-format, mypy

pre-commit
  numpyro/distributions/transforms.py
Due: ruff, ruff-format, mypy

Adds assert
  numpyro/distributions/transforms.py
Due: ruff, ruff-format, mypy

Fixes as per comments
  numpyro/distributions/transforms.py
Due: ruff, ruff-format, mypy

Pre-commit
  numpyro/distributions/transforms.py
Due: ruff, ruff-format, mypy

Live arrays was caused by new logic in __init__ of RecursiveLinearTransform together with parameterization
  numpyro/distributions/transforms.py
  test/test_transforms.py
Due: ruff, ruff-format, mypy

Use numpy
  test/test_transforms.py
Due: ruff, ruff-format

Pre-commit and do casting in one go
  numpyro/distributions/transforms.py
  test/test_transforms.py
Due: ruff, ruff-format, mypy

Pins equinox and uses kwarg
  setup.py
  test/contrib/test_module.py
Due: ruff, ruff-format

Pre-commit
  test/contrib/test_module.py
Due: ruff, ruff-format

Checks in function instead
  setup.py
  test/contrib/test_module.py
Due: ruff, ruff-format

pre-commit
  test/contrib/test_module.py
Due: ruff, ruff-format

fix
  test/contrib/test_module.py
Due: ruff, ruff-format

Adds support for passing initial value to transform (#2038)
  numpyro/distributions/transforms.py
  test/contrib/test_module.py
  test/test_transforms.py
Due: ruff, ruff-format, mypy

lint
  test/contrib/test_module.py
Due: ruff, ruff-format

Remove uses of OrderedDict
  numpyro/_typing.py
  numpyro/contrib/control_flow/scan.py
  numpyro/contrib/funsor/discrete.py
  numpyro/contrib/funsor/enum_messenger.py
  numpyro/contrib/funsor/infer_util.py
  numpyro/contrib/stochastic_support/dcc.py
  numpyro/contrib/stochastic_support/sdvi.py
  numpyro/diagnostics.py
  numpyro/distributions/distribution.py
  numpyro/handlers.py
  numpyro/infer/elbo.py
  numpyro/infer/hmc.py
  numpyro/infer/hmc_util.py
  numpyro/util.py
  test/contrib/test_funsor.py
Due: ruff, ruff-format, mypy

fix
  numpyro/contrib/funsor/enum_messenger.py
Due: ruff, ruff-format, mypy

allow scope divider
  numpyro/contrib/module.py
  test/contrib/test_module.py
Due: ruff, ruff-format, mypy

allow scope divider (#2048)
  numpyro/contrib/module.py
  test/contrib/test_module.py
Due: ruff, ruff-format, mypy

update numpyro version
  notebooks/source/tbip.ipynb
Due: ruff, ruff-format

fix: update mypy configuration
  pyproject.toml
Due: none

fix: update type annotations
  numpyro/_typing.py
  numpyro/contrib/hsgp/approximation.py
  numpyro/contrib/hsgp/laplacian.py
  numpyro/contrib/hsgp/spectral_densities.py
  numpyro/distributions/batch_util.py
  numpyro/distributions/conjugate.py
  numpyro/distributions/constraints.py
  numpyro/distributions/continuous.py
  numpyro/distributions/copula.py
  numpyro/distributions/directional.py
  numpyro/distributions/discrete.py
  numpyro/distributions/distribution.py
  numpyro/distributions/flows.py
  numpyro/distributions/mixtures.py
  numpyro/distributions/transforms.py
  numpyro/distributions/truncated.py
  numpyro/distributions/util.py
  numpyro/handlers.py
  numpyro/optim.py
  numpyro/primitives.py
  test/contrib/hsgp/test_approximation.py
  test/contrib/hsgp/test_laplacian.py
  test/test_typing.py
Due: ruff, ruff-format, mypy
