Repository pyro-ppl/numpyro: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check
        args: ["--fix", "--output-format=full"]
        files: "(.py$)|(.*.ipynb$)"
        language: system

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        files: "(.py$)|(.*.ipynb$)"

      - id: mypy
        name: mypy
        language: python
        entry: mypy --install-types --non-interactive
        files: ^numpyro/


  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-yaml
      - id: check-added-large-files
        exclude: notebooks/

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        stages: [pre-commit, commit-msg]
        args:
          [--ignore-words-list, "Teh,aas,ans", --check-filenames, --skip, "*.ipynb"]

fix bug at infer_discrete (#2115)
  numpyro/infer/util.py
  test/infer/test_infer_util.py
Due: ruff, ruff-format, mypy

fix: correction in attributes
  numpyro/distributions/constraints.py
Due: ruff, ruff-format, mypy

DOC: Correct a few a/an usages
  examples/capture_recapture.py
  notebooks/source/logistic_regression.ipynb
  numpyro/distributions/transforms.py
  numpyro/distributions/util.py
Due: ruff, ruff-format, mypy

DOC: Correct a few a/an usages (#2116)
  examples/capture_recapture.py
  notebooks/source/logistic_regression.ipynb
  numpyro/distributions/transforms.py
  numpyro/distributions/util.py
Due: ruff, ruff-format, mypy

try statement
  numpyro/ops/provenance.py
Due: ruff, ruff-format, mypy

FIX: JAX pxla is deprecated from 0.8.2 onwards (#2119)
  numpyro/ops/provenance.py
Due: ruff, ruff-format, mypy

Bump minimum python version to 3.11 and minimum jax version to 0.7
  .github/workflows/ci.yml
  setup.py
Due: ruff, ruff-format

remove try for old imports
  .github/workflows/ci.yml
  numpyro/_typing.py
  numpyro/distributions/gof.py
  numpyro/infer/elbo.py
  numpyro/ops/provenance.py
  test/ops/test_provenance.py
Due: ruff, ruff-format, mypy

fix lints
  numpyro/_typing.py
  numpyro/infer/elbo.py
  numpyro/ops/provenance.py
  test/ops/test_provenance.py
Due: ruff, ruff-format, mypy

Bump minimum python version to 3.11 and minimum jax version to 0.7 (#2120)
  .github/workflows/ci.yml
  numpyro/_typing.py
  numpyro/distributions/gof.py
  numpyro/infer/elbo.py
  numpyro/ops/provenance.py
  setup.py
  test/ops/test_provenance.py
Due: ruff, ruff-format, mypy

remove dependency on ConstraintT and TransformT
  numpyro/distributions/constraints.py
  numpyro/distributions/transforms.py
Due: ruff, ruff-format, mypy

Add initial value to Gaussian state space distribution (fixes #2098).
  numpyro/distributions/constraints.py
  numpyro/distributions/continuous.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

Fix typing issues in handlers and primitives
  numpyro/handlers.py
  numpyro/primitives.py
Due: ruff, ruff-format, mypy

fix typing issues in IndependentTransform
  numpyro/distributions/constraints.py
Due: ruff, ruff-format, mypy

Add initial value to Gaussian state space distribution (fixes #2098). (#2104)
  numpyro/distributions/constraints.py
  numpyro/distributions/continuous.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

ci: pre-commit hooks check in ci
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

chore: install system dependencies prior to prek run
  .github/workflows/ci.yml
Due: none

chore: skip hooks that are dealt in `make link`
  .github/workflows/ci.yml
Due: none

chore: reset `.pre-commit-hooks.yaml`
  .pre-commit-config.yaml
Due: none

chore: don't need to setup python for prek after da88832a8d7e160e312fa1b2dad4cba60f197485
  .github/workflows/ci.yml
Due: none

fix(gh-2036): MyPy Errors in `numpyro.distributions.constraints` Module (#2085)
  numpyro/_typing.py
  numpyro/distributions/constraints.py
  numpyro/distributions/transforms.py
  numpyro/handlers.py
  numpyro/primitives.py
  pyproject.toml
Due: ruff, ruff-format, mypy

init
  numpyro/_typing.py
  numpyro/distributions/distribution.py
  numpyro/primitives.py
  pyproject.toml
  ty.toml
Due: ruff, ruff-format, mypy

rm custom noqa
  numpyro/distributions/distribution.py
Due: ruff, ruff-format, mypy

fix specific cases
  numpyro/distributions/constraints.py
  numpyro/distributions/distribution.py
Due: ruff, ruff-format, mypy

undo primitive change
  numpyro/distributions/distribution.py
  numpyro/primitives.py
Due: ruff, ruff-format, mypy

fix
  numpyro/distributions/continuous.py
  numpyro/distributions/discrete.py
Due: ruff, ruff-format, mypy

try fix test
  numpyro/distributions/distribution.py
Due: ruff, ruff-format, mypy

try fix tests
  numpyro/distributions/distribution.py
Due: ruff, ruff-format, mypy

draft of MCLMC
  mclmc.py
Due: ruff, ruff-format

feat: Add Microcanonical Langevin Monte Carlo (MCLMC) kernel
  mclmc.py
  numpyro/infer/mclmc.py
  test/infer/test_mclmc.py
Due: ruff, ruff-format, mypy

no DistributionT
  numpyro/distributions/continuous.py
  numpyro/distributions/discrete.py
Due: ruff, ruff-format, mypy

try fix test
  numpyro/distributions/distribution.py
  test/test_typing.py
Due: ruff, ruff-format, mypy

add blcakjax to test
  setup.py
Due: ruff, ruff-format

rm distribution type
  numpyro/_typing.py
  numpyro/distributions/censored.py
  numpyro/distributions/copula.py
  numpyro/distributions/mixtures.py
  test/test_typing.py
Due: ruff, ruff-format, mypy

rm
  test/test_typing.py
Due: ruff, ruff-format

improve tol test
  test/infer/test_hmc_gibbs.py
Due: ruff, ruff-format

try to fix test
  numpyro/distributions/distribution.py
Due: ruff, ruff-format, mypy

try to fix test
  numpyro/distributions/distribution.py
  test/infer/test_hmc_gibbs.py
Due: ruff, ruff-format, mypy
