Repository pyro-ppl/numpyro: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check
        args: ["--fix", "--output-format=full"]
        files: "(.py$)|(.*.ipynb$)"
        language: system

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        files: "(.py$)|(.*.ipynb$)"

      - id: mypy
        name: mypy
        language: python
        entry: mypy --install-types --non-interactive
        files: ^numpyro/


  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-yaml
      - id: check-added-large-files
        exclude: notebooks/

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        stages: [pre-commit, commit-msg]
        args:
          [--ignore-words-list, "Teh,aas,ans", --check-filenames, --skip, "*.ipynb"]

made eqx_module functional
  numpyro/contrib/module.py
  test/contrib/test_module.py
Due: ruff, ruff-format, mypy

better docstrings for equinox modules
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

changed eqx smoke test to use autodelta
  test/contrib/test_module.py
Due: ruff, ruff-format

stopped gradient for eqx state
  test/contrib/test_module.py
Due: ruff, ruff-format

updated docstring to reflect stopping eqx state gradient
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

removed update_tree_params and switched random_eqx_module to use _update_params
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

Displaying CVAE figure example
  examples/cvae-flax/README.md
Due: none

added docs for eqx_modules, mutable. stopped gradient on mutable_state in svi loss_fn
  docs/source/primitives.rst
  numpyro/infer/svi.py
  test/contrib/test_module.py
Due: ruff, ruff-format, mypy

fixed docs
  docs/source/primitives.rst
Due: none

adjusted test to not have latent x in model
  test/contrib/test_module.py
Due: ruff, ruff-format

removed stopping state gradient in svi loss_fn
  numpyro/infer/svi.py
Due: ruff, ruff-format, mypy

updated docstring to reflect no gradient stopping
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

Displaying CVAE figure example (#2011)
  examples/cvae-flax/README.md
Due: none

Equinox Integration (#2005)
  docs/source/primitives.rst
  numpyro/contrib/module.py
  setup.py
  test/contrib/test_module.py
Due: ruff, ruff-format, mypy

fixed typo
  numpyro/primitives.py
Due: ruff, ruff-format, mypy

fixed plate inheritance ref
  numpyro/primitives.py
Due: ruff, ruff-format, mypy

added inspect tool
  docs/source/primitives.rst
  docs/source/utilities.rst
  numpyro/__init__.py
  numpyro/infer/inspect.py
  test/infer/test_inspect.py
Due: ruff, ruff-format, mypy

reverted accidental changes to inspect
  numpyro/infer/inspect.py
Due: ruff, ruff-format, mypy

reverted accidental changes to get_model_relations
  numpyro/infer/inspect.py
Due: ruff, ruff-format, mypy

cleaned up get_site_dims code
  numpyro/infer/inspect.py
Due: ruff, ruff-format, mypy

feat: Dagum distribution
  numpyro/distributions/__init__.py
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

chore: add unit test for Dagum distribution
  .github/workflows/ci.yml
  test/test_distributions.py
Due: ruff, ruff-format

docs: add documentation for Dagum distribution
  docs/source/distributions.rst
Due: none

feat: add `reparametrized_params` to Dagum distribution
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

test: update test case for Dagum distribution parameters
  test/test_distributions.py
Due: ruff, ruff-format

Note that `initialize_model` returns unconstrained parameters.
  numpyro/infer/util.py
Due: ruff, ruff-format, mypy

Unify constraint handling for `AutoContinuous`, `AutoDelta`, `AutoNormal`.
  numpyro/infer/autoguide.py
  test/infer/test_autoguide.py
Due: ruff, ruff-format, mypy

Fix `event_dim` for `AutoDelta` for guide subsampling and add test.
  numpyro/infer/autoguide.py
  test/infer/test_autoguide.py
Due: ruff, ruff-format, mypy

Log `stdout` and `stderr` for failed examples.
  test/test_examples.py
Due: ruff, ruff-format

Halve default number of hidden factors in `neutra` example.
  examples/neutra.py
Due: ruff, ruff-format

feat(distributions.conjugate): support total_count_max in DirichletMultinomial
  numpyro/distributions/conjugate.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

fix(distributions.conjugate): add total_count_max to pytree_aux_fields
  ar2.png
  graph
  numpyro/distributions/conjugate.py
  ssbvm_mixture.png
  wordclouds.png
Due: ruff, ruff-format, mypy

test: mark neutra example as xfail
  test/test_examples.py
Due: ruff, ruff-format

fix: rm pngs and graph, gitignore for posterity
  .gitignore
  ar2.png
  graph
  ssbvm_mixture.png
  wordclouds.png
Due: none

fix(distributions.conjugate): support total_count_max in DirichletMultinomial distribution (#2016)
  .gitignore
  numpyro/distributions/conjugate.py
  test/test_distributions.py
  test/test_examples.py
Due: ruff, ruff-format, mypy

chore: run test for Dagum distribution only when higher precision is enabled
  test/test_distributions.py
Due: ruff, ruff-format

bayesian cuped example
  .gitignore
  docs/source/_static/img/tutorials/bayesian_cuped.png
  docs/source/index.rst
  notebooks/source/bayesian_cuped.ipynb
Due: ruff, ruff-format

skip haiku tests
  test/contrib/test_esc_proxies.py
  test/contrib/test_module.py
Due: ruff, ruff-format

xfail jaxns
  test/contrib/test_nested_sampling.py
Due: ruff, ruff-format

[Example ] Bayesian CUPED (#2018)
  .gitignore
  docs/source/_static/img/tutorials/bayesian_cuped.png
  docs/source/index.rst
  notebooks/source/bayesian_cuped.ipynb
  test/contrib/test_esc_proxies.py
  test/contrib/test_module.py
  test/contrib/test_nested_sampling.py
Due: ruff, ruff-format
