Repository pyro-ppl/numpyro: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: ruff check
  args:
  - --fix
  - --output-format=full
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

mypy:
  name: mypy
  language: python
  entry: mypy --install-types --non-interactive

Lower bound GPJax version
  pyproject.toml
Due: none

try
  numpyro/examples/datasets.py
  pyproject.toml
  test/test_example_utils.py
Due: ruff, ruff-format, mypy

try (#2151)
  numpyro/examples/datasets.py
  pyproject.toml
  test/test_example_utils.py
Due: ruff, ruff-format, mypy

chore: remove `dm-haiku` support from `numpyro.contrib.module`
  README.md
  docs/requirements.txt
  docs/source/primitives.rst
  examples/prodlda.py
  numpyro/contrib/module.py
  pyproject.toml
  test/contrib/test_esc_proxies.py
  test/contrib/test_module.py
  test/test_examples.py
Due: ruff, ruff-format, mypy

rename print_rate -> progress_rate
  numpyro/infer/mcmc.py
  numpyro/util.py
Due: ruff, ruff-format, mypy

chore: remove `dm-haiku` support from `numpyro.contrib.module` (#2150)
  README.md
  docs/requirements.txt
  docs/source/primitives.rst
  examples/prodlda.py
  numpyro/contrib/module.py
  pyproject.toml
  test/contrib/test_esc_proxies.py
  test/contrib/test_module.py
  test/test_examples.py
Due: ruff, ruff-format, mypy

Add pip install command and parameter recovery figure
  notebooks/source/gpjax_example.ipynb
Due: ruff, ruff-format

Add GPJax notebook (#2149)
  notebooks/source/gpjax_example.ipynb
  notebooks/source/index.rst
  pyproject.toml
Due: ruff, ruff-format

fix argument name in docstring
  numpyro/infer/mcmc.py
Due: ruff, ruff-format, mypy

add entry
  docs/source/_static/img/tutorials/gpjax_example.png
  docs/source/index.rst
Due: none

fix: use samples.dtype instead of samples in jnp.finfo calls
  numpyro/distributions/continuous.py
  numpyro/distributions/discrete.py
  numpyro/distributions/util.py
Due: ruff, ruff-format, mypy

add entry (#2152)
  docs/source/_static/img/tutorials/gpjax_example.png
  docs/source/index.rst
Due: none

expose progress bar print rate option in MCMC (#2145)
  numpyro/infer/mcmc.py
  numpyro/util.py
Due: ruff, ruff-format, mypy

Fix instance in safe_normalize
  .lock
  numpyro/distributions/util.py
Due: ruff, ruff-format, mypy

Remove .lock
  .lock
Due: none

Always call `jnp.finfo` on array `dtypes`, not arrays themselves (#2147)
  numpyro/distributions/continuous.py
  numpyro/distributions/discrete.py
  numpyro/distributions/util.py
Due: ruff, ruff-format, mypy

chore: update logic for code coverage
  .github/workflows/ci.yml
  pyproject.toml
Due: none

fix: remove run from coverage
  .github/workflows/ci.yml
Due: none

ci: fix coveralls integration and coverage reporting
  .github/workflows/ci.yml
Due: none

fix: using uv to create env for readthedocs
  .readthedocs.yaml
  docs/requirements.txt
Due: none

fix: pinning jax version until #2154 is resolved
  pyproject.toml
Due: none

fix test because new jax 0.9.2 release
  test/ops/test_provenance.py
Due: ruff, ruff-format

chore: use env variable for pytest flags
  .github/workflows/ci.yml
Due: none

change order
  test/ops/test_provenance.py
Due: ruff, ruff-format

fix test because new jax 0.9.2 release (#2155)
  test/ops/test_provenance.py
Due: ruff, ruff-format

Revert "fix: pinning jax version until #2154 is resolved"
  pyproject.toml
Due: none

CI(gh-2126): transition to uv for dependency management and testing (#2129)
  .github/workflows/ci.yml
  .gitignore
  .readthedocs.yaml
  docs/requirements.txt
  pyproject.toml
Due: none

change strategy
  test/ops/test_provenance.py
Due: ruff, ruff-format

change strategy (#2156)
  test/ops/test_provenance.py
Due: ruff, ruff-format

test python 3.14
  .github/workflows/ci.yml
  numpyro/contrib/nested_sampling.py
  numpyro/examples/datasets.py
  test/contrib/test_nested_sampling.py
Due: ruff, ruff-format, mypy

test python 3.14 (#2157)
  .github/workflows/ci.yml
  numpyro/contrib/nested_sampling.py
  numpyro/examples/datasets.py
  test/contrib/test_nested_sampling.py
Due: ruff, ruff-format, mypy

fix: remove frozen project build during doc generation
  .readthedocs.yaml
Due: none

fix: remove frozen project build during doc generation (#2160)
  .readthedocs.yaml
Due: none

fix
  numpyro/handlers.py
  test/contrib/test_module.py
Due: ruff, ruff-format, mypy

rm skip
  test/contrib/test_module.py
Due: ruff, ruff-format

enhancement
  numpyro/infer/autoguide.py
  test/infer/test_autoguide.py
Due: ruff, ruff-format, mypy

fix
  numpyro/infer/elbo.py
  test/contrib/test_enum_elbo.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: (.py$)|(.*.ipynb$)
  ruff-format: any of: (.py$)|(.*.ipynb$)
  mypy: any of: ^numpyro/
