Repository pyro-ppl/numpyro: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check
        args: ["--fix", "--output-format=full"]
        files: "(.py$)|(.*.ipynb$)"
        language: system

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        files: "(.py$)|(.*.ipynb$)"

      - id: mypy
        name: mypy
        language: python
        entry: mypy --install-types --non-interactive
        files: ^numpyro/


  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-yaml
      - id: check-added-large-files
        exclude: notebooks/

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        stages: [pre-commit, commit-msg]
        args:
          [--ignore-words-list, "Teh,aas,ans", --check-filenames, --skip, "*.ipynb"]

DOC: Correct a few grammatical errors
  numpyro/contrib/nested_sampling.py
  numpyro/distributions/truncated.py
  test/contrib/test_enum_elbo.py
Due: ruff, ruff-format, mypy

DOC: derivate -> derivative
  numpyro/distributions/truncated.py
Due: ruff, ruff-format, mypy

DOC: Correct a few grammatical errors (#2097)
  numpyro/contrib/nested_sampling.py
  numpyro/distributions/truncated.py
  test/contrib/test_enum_elbo.py
Due: ruff, ruff-format, mypy

feat: add support for CUDA 12 and CUDA 13 (#2094)
  README.md
  setup.py
Due: ruff, ruff-format

simplyfy with double where trick
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

add validation by default
  numpyro/distributions/continuous.py
  numpyro/distributions/distribution.py
Due: ruff, ruff-format, mypy

Update numpyro/distributions/distribution.py
  numpyro/distributions/distribution.py
Due: ruff, ruff-format, mypy

use dirichlet
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

simplify comments
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

simplify return
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

Fix Beta with concentration1=1 gives nan log_prob at value=0 (#2089)
  numpyro/distributions/continuous.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

try support python 3.14
  .github/workflows/ci.yml
  setup.py
Due: ruff, ruff-format

init implementatoin
  numpyro/contrib/hsgp/approximation.py
  numpyro/contrib/hsgp/spectral_densities.py
  test/contrib/hsgp/test_approximation.py
  test/contrib/hsgp/test_spectral_densities.py
Due: ruff, ruff-format, mypy

better doctrings
  numpyro/contrib/hsgp/approximation.py
  numpyro/contrib/hsgp/spectral_densities.py
Due: ruff, ruff-format, mypy

cleanup
  numpyro/contrib/hsgp/approximation.py
  numpyro/contrib/hsgp/spectral_densities.py
Due: ruff, ruff-format, mypy

improve tests
  test/contrib/hsgp/test_approximation.py
Due: ruff, ruff-format

docs
  docs/source/contrib.rst
Due: none

Add rational quadratic kernel to HSGP approximation (#2100)
  docs/source/contrib.rst
  numpyro/contrib/hsgp/approximation.py
  numpyro/contrib/hsgp/spectral_densities.py
  test/contrib/hsgp/test_approximation.py
  test/contrib/hsgp/test_spectral_densities.py
Due: ruff, ruff-format, mypy

implementation init
  numpyro/handlers.py
  test/test_handlers.py
Due: ruff, ruff-format, mypy

add to docs
  docs/source/handlers.rst
Due: none

init
  numpyro/distributions/__init__.py
  numpyro/distributions/conjugate.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

add to docs
  docs/source/distributions.rst
Due: none

init
  numpyro/distributions/__init__.py
  numpyro/distributions/continuous.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

docs and simplify
  docs/source/distributions.rst
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

rtol
  test/test_distributions.py
Due: ruff, ruff-format

Add `uncondition` effect handler (#2101)
  docs/source/handlers.rst
  numpyro/handlers.py
  test/test_handlers.py
Due: ruff, ruff-format, mypy

Add Beta Negative Binomial distribution (#2102)
  docs/source/distributions.rst
  numpyro/distributions/__init__.py
  numpyro/distributions/conjugate.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

feedback 1
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

add comment
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

improve docstrings
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

feedback
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

reuse existing code
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

feedback flip operator
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

refactor: update type hints for constraints to use Union
  numpyro/distributions/constraints.py
Due: ruff, ruff-format, mypy

refactor: optimize logical check in `_PositiveOrderedVector` to use `jnp.all`
  numpyro/distributions/constraints.py
Due: ruff, ruff-format, mypy

simplify flip operator
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

Add Inverse Wishart Distribution (#2103)
  docs/source/distributions.rst
  numpyro/distributions/__init__.py
  numpyro/distributions/continuous.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

initial fix
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

initial test
  test/test_distributions.py
Due: ruff, ruff-format
