Repository pyro-ppl/numpyro: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check
        args: ["--fix", "--output-format=full"]
        files: "(.py$)|(.*.ipynb$)"
        language: system

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        files: "(.py$)|(.*.ipynb$)"

      - id: mypy
        name: mypy
        language: python
        entry: mypy --install-types --non-interactive
        files: ^numpyro/


  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-yaml
      - id: check-added-large-files
        exclude: notebooks/

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        stages: [pre-commit, commit-msg]
        args:
          [--ignore-words-list, "Teh,aas,ans", --check-filenames, --skip, "*.ipynb"]

Update numpyro/distributions/distribution.py
  numpyro/distributions/distribution.py
Due: ruff, ruff-format, mypy

add more tests
  test/test_distributions.py
Due: ruff, ruff-format

improve some validation
  numpyro/distributions/continuous.py
  numpyro/distributions/distribution.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

validate to false
  numpyro/distributions/censored.py
Due: ruff, ruff-format, mypy

remove bad noqa generating warnings
  test/contrib/test_module.py
Due: ruff, ruff-format

fix support
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

rm dupplicated code
  test/test_distributions.py
Due: ruff, ruff-format

feedback 1/n
  numpyro/distributions/distribution.py
  test/test_distributions.py
  test/test_pickle.py
  test/test_util.py
Due: ruff, ruff-format, mypy

undo uniform changes and admend test
  numpyro/distributions/continuous.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

try to fix validation tests
  test/test_distributions.py
Due: ruff, ruff-format

fix 1/n XD
  test/test_distributions.py
Due: ruff, ruff-format

Fix uniform distribution log_prob support (#2095)
  numpyro/distributions/censored.py
  numpyro/distributions/continuous.py
  numpyro/distributions/distribution.py
  test/contrib/test_module.py
  test/test_distributions.py
  test/test_pickle.py
  test/test_util.py
Due: ruff, ruff-format, mypy

Add initial value to Gaussian state space distribution (fixes #2098).
  numpyro/distributions/constraints.py
  numpyro/distributions/continuous.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

infer.svi: treat empty JaxTrees of mutables as equivalent to None at all
  numpyro/infer/svi.py
Due: ruff, ruff-format, mypy

notebooks.source.nnx_example: employ TraceGraph_ELBO to hit mutables-check
  notebooks/source/nnx_example.ipynb
Due: ruff, ruff-format

distributions.mixtures._MixtureBase: mixtures lack reparameterized sampling
  numpyro/distributions/mixtures.py
Due: ruff, ruff-format, mypy

Bugfix/mutables leaves (#2105)
  notebooks/source/nnx_example.ipynb
  numpyro/infer/svi.py
Due: ruff, ruff-format, mypy

distributions.mixtures._MixtureBase: mixtures lack reparameterized sampling (#2106)
  numpyro/distributions/mixtures.py
Due: ruff, ruff-format, mypy

chore: resolve deprecated warning from pre-commit hook
  .pre-commit-config.yaml
Due: none

fix: add docstring to `validate_sample` wrapper
  numpyro/distributions/util.py
Due: ruff, ruff-format, mypy

chore: resolve deprecated warning from pre-commit hook (#2108)
  .pre-commit-config.yaml
Due: none

docs: add detailed mathematical descriptions and docstrings for Gamma distribution methods
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

docs: update `GammaPoisson` class docstrings with detailed mathematical descriptions
  numpyro/distributions/conjugate.py
Due: ruff, ruff-format, mypy

docs: enhance docstrings for `BetaNegativeBinomial class` with detailed mathematical descriptions
  numpyro/distributions/conjugate.py
Due: ruff, ruff-format, mypy

docs: enhance docstrings for Negative Binomial distribution and its parameterizations
  numpyro/distributions/conjugate.py
Due: ruff, ruff-format, mypy

feat(gh-2110): setup for `astral-sh/ty`
  Makefile
  pyproject.toml
  setup.py
  ty.toml
Due: ruff, ruff-format

chore(gh-2110): add ty check in pre-commit hooks
  .pre-commit-config.yaml
Due: none

ci: pre-commit hook to auto-format yaml files
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
Due: none

revert: mypy module overrides
  pyproject.toml
Due: none

feat(gh-2110): setup for `astral-sh/ty` (#2111)
  .pre-commit-config.yaml
  Makefile
  setup.py
  ty.toml
Due: ruff, ruff-format

fix test
  numpyro/examples/datasets.py
Due: ruff, ruff-format, mypy

fix test (#2113)
  numpyro/examples/datasets.py
Due: ruff, ruff-format, mypy

refine
  ty.toml
Due: none

refine (#2114)
  ty.toml
Due: none

ci: pre-commit hook to auto-format yaml files (#2112)
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
Due: none

fix: apply `functools.wraps` inside `wrapper` in `numpyro.distributions.utils.validate_sample`
  numpyro/distributions/util.py
Due: ruff, ruff-format, mypy

fix: correction of docstring in `numpyro.distributions.truncated.DoublyTruncatedPowerLaw.log_prob`
  numpyro/distributions/truncated.py
Due: ruff, ruff-format, mypy

doc(gh-2107): Improved documentation for Negative Binomial distributions (#2109)
  numpyro/distributions/conjugate.py
  numpyro/distributions/continuous.py
  numpyro/distributions/truncated.py
  numpyro/distributions/util.py
Due: ruff, ruff-format, mypy

fix bug at infer_discrete
  numpyro/infer/util.py
  test/infer/test_infer_util.py
Due: ruff, ruff-format, mypy
