Repository pyro-ppl/numpyro: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: ruff check
  args:
  - --fix
  - --output-format=full
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

mypy:
  name: mypy
  language: python
  entry: mypy --install-types --non-interactive

chore: run benchmarks on python 3.14
  .github/workflows/benchmark.yml
Due: none

chore: use modern random keys
  benchmarks/suites/distributions.py
  benchmarks/suites/handlers.py
  benchmarks/suites/mcmc.py
  benchmarks/suites/svi.py
Due: ruff, ruff-format

chore: remove unused BENCH_LABEL environment variable
  .github/workflows/benchmark.yml
Due: none

ci: add PR triage workflow for auto review requests and labels
  .github/workflows/pr-triage.yml
Due: none

Drop run-benchmarks label from PR triage workflow
  .github/workflows/pr-triage.yml
Due: none

chore: run benchmarks on every pull request update
  .github/workflows/benchmark-comment.yml
  .github/workflows/benchmark.yml
  benchmarks/README.md
Due: none

update notebook
  notebooks/source/censoring.ipynb
  numpyro/distributions/censored.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

prune outpush
  notebooks/source/censoring.ipynb
Due: ruff, ruff-format

ci: use pull_request_target for PR triage workflow
  .github/workflows/pr-triage.yml
Due: none

chore: workflow to clean pr after merging
  .github/workflows/pr-cleanup.yml
Due: none

Improve binary_cross_entropy_with_logits function
  numpyro/distributions/util.py
Due: ruff, ruff-format, mypy

Add boundary tests for binary_cross_entropy_with_logits
  test/test_distributions_util.py
Due: ruff, ruff-format

ruff pass
  numpyro/distributions/util.py
Due: ruff, ruff-format, mypy

ruff pass on test
  test/test_distributions_util.py
Due: ruff, ruff-format

rm args
  test/test_distributions_util.py
Due: ruff, ruff-format

ci: grant issues:write to pr-cleanup workflow
  .github/workflows/pr-cleanup.yml
Due: none

Validate num_samples in MCMC initialization
  numpyro/infer/mcmc.py
Due: ruff, ruff-format, mypy

pyproject.toml: add pre-commit as a dev dependency like numpyro needs
  pyproject.toml
Due: none

numpyro.distributions.discrete: fix NaN log_prob gradients at zero weights
  numpyro/distributions/discrete.py
Due: ruff, ruff-format, mypy

distributions.mixtures.MixtureSameFamily: unwrap Independent constraints
  numpyro/distributions/mixtures.py
  test/test_distributions_mixture.py
Due: ruff, ruff-format, mypy

init
  design.md
Due: none

better type hints
  design.md
Due: none

fix provenance tracking for closed-over constants
  numpyro/ops/provenance.py
  test/ops/test_provenance.py
Due: ruff, ruff-format, mypy

feat(distributions): add cat constraint and transform
  numpyro/distributions/constraints.py
  numpyro/distributions/transforms.py
  test/test_distributions.py
  test/test_transforms.py
Due: ruff, ruff-format, mypy

test(distributions): address cat review feedback
  numpyro/distributions/constraints.py
  numpyro/distributions/transforms.py
  test/test_distributions.py
  test/test_transforms.py
Due: ruff, ruff-format, mypy

Avoid per-step host sync in the SVI progress-bar loop
  numpyro/infer/svi.py
  test/infer/test_svi.py
Due: ruff, ruff-format, mypy

Fix generator being appended instead of a list in scan carry_shapes
  numpyro/contrib/control_flow/scan.py
Due: ruff, ruff-format, mypy

Make Gibbs kernels composable
  docs/source/mcmc.rst
  numpyro/_typing.py
  numpyro/infer/__init__.py
  numpyro/infer/gibbs.py
  numpyro/infer/gibbs_util.py
  numpyro/infer/hmc.py
  numpyro/infer/hmc_gibbs.py
  numpyro/infer/mcmc.py
  numpyro/infer/mixed_hmc.py
  numpyro/infer/util.py
  numpyro/util.py
  test/infer/test_gibbs.py
  test/infer/test_hmc_gibbs.py
  test/infer/test_kernel_hooks.py
Due: ruff, ruff-format, mypy

Drop masked logsumexp reduction in mixture log_prob
  numpyro/distributions/mixtures.py
  test/test_distributions_mixture.py
Due: ruff, ruff-format, mypy

Speed up posterior diagnostics
  numpyro/diagnostics.py
  test/test_diagnostics.py
Due: ruff, ruff-format, mypy

Fix pmap tracer leak, merge gibbs_util into gibbs, type-check touched modules
  .github/workflows/ci.yml
  numpyro/infer/gibbs.py
  numpyro/infer/gibbs_util.py
  numpyro/infer/hmc.py
  numpyro/infer/hmc_gibbs.py
  numpyro/infer/mcmc.py
  numpyro/infer/mixed_hmc.py
  numpyro/util.py
  pyproject.toml
  test/infer/test_gibbs.py
Due: ruff, ruff-format, mypy

Simplify the inverse of SimplexToOrderedTransform
  numpyro/distributions/transforms.py
Due: ruff, ruff-format, mypy

Keep ArrayLike on base-class sample/log_prob and add handler test for non-array values
  test/test_distributions.py
  test/test_handlers.py
Due: ruff, ruff-format

Return a batch-shaped mask from the zero_sum constraint
  numpyro/distributions/constraints.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

Bump the ty pre-commit hook to 0.0.75
  .pre-commit-config.yaml
Due: none

Validate concrete parameters at compile time and drop the last type ignore
  numpyro/distributions/constraints.py
  numpyro/distributions/distribution.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

Make numpyro.distributions type-check under ty
  numpyro/distributions/batch_util.py
  numpyro/distributions/censored.py
  numpyro/distributions/conjugate.py
  numpyro/distributions/continuous.py
  numpyro/distributions/copula.py
  numpyro/distributions/directional.py
  numpyro/distributions/discrete.py
  numpyro/distributions/flows.py
  numpyro/distributions/mixtures.py
  numpyro/distributions/transforms.py
  numpyro/distributions/truncated.py
  numpyro/distributions/util.py
Due: ruff, ruff-format, mypy

Bump ty to 0.0.75 and type-check the whole numpyro.distributions package
  pyproject.toml
Due: none

Add regression test for render_model with masked observations
  test/test_model_rendering.py
Due: ruff, ruff-format

Rename Predictive's exclude_deterministic to condition_deterministic
  numpyro/infer/util.py
  test/infer/test_infer_util.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: (.py$)|(.*.ipynb$)
  ruff-format: any of: (.py$)|(.*.ipynb$)
  mypy: any of: ^numpyro/
