Repository pyro-ppl/numpyro: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check
        args: ["--fix", "--output-format=full"]
        files: "(.py$)|(.*.ipynb$)"
        language: system

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        files: "(.py$)|(.*.ipynb$)"

      - id: mypy
        name: mypy
        language: python
        entry: mypy --install-types --non-interactive
        files: ^numpyro/


  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-yaml
      - id: check-added-large-files
        exclude: notebooks/

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        stages: [pre-commit, commit-msg]
        args:
          [--ignore-words-list, "Teh,aas,ans", --check-filenames, --skip, "*.ipynb"]

Expand docstring and add references for `Circulant` distribution.
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

Fix sign bug in `_PositiveDefiniteCirculantVector` validity check.
  numpyro/distributions/constraints.py
Due: ruff, ruff-format, mypy

Fix typo in skip reason for `test_generated_sample_distribution`.
  test/test_distributions.py
Due: ruff, ruff-format

Fix batch shape for mean, covariance_row, covariance_matrix.
  numpyro/distributions/continuous.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

Skip goodnes of fit test for `CirculantNormal`.
  test/test_gof.py
Due: ruff, ruff-format

Pass loss value in SteinVI
  numpyro/contrib/einstein/steinvi.py
Due: ruff, ruff-format, mypy

finall comments
  numpyro/contrib/module.py
  test/contrib/test_module.py
Due: ruff, ruff-format, mypy

Expand docstring of `CirculantNormal`.
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

Update example and move legend.
  notebooks/source/circulant_gp.ipynb
Due: ruff, ruff-format

Flax NNX integration (#1990)
  .pre-commit-config.yaml
  docs/source/_static/img/tutorials/nnx_example.png
  docs/source/index.rst
  docs/source/primitives.rst
  notebooks/source/nnx_example.ipynb
  numpyro/contrib/module.py
  test/contrib/test_module.py
Due: ruff, ruff-format, mypy

Pass value arg to optax, allowing use of reduce_on_plateau (#1974)
  numpyro/contrib/einstein/steinvi.py
  numpyro/optim.py
  test/test_optimizers.py
Due: ruff, ruff-format, mypy

Add `CirculantNormal` distribution. (#1988)
  docs/source/distributions.rst
  docs/source/index.rst
  notebooks/source/circulant_gp.ipynb
  numpyro/distributions/__init__.py
  numpyro/distributions/constraints.py
  numpyro/distributions/continuous.py
  numpyro/distributions/kl.py
  numpyro/distributions/transforms.py
  numpyro/distributions/util.py
  test/test_distributions.py
  test/test_gof.py
  test/test_transforms.py
Due: ruff, ruff-format, mypy

minor improvements
  docs/source/_static/img/tutorials/circulant_gp.png
  notebooks/source/circulant_gp.ipynb
Due: ruff, ruff-format

Minor improvements to `circulant_gp` notebook (#2004)
  docs/source/_static/img/tutorials/circulant_gp.png
  notebooks/source/circulant_gp.ipynb
Due: ruff, ruff-format

added initial support for equinox models
  numpyro/contrib/module.py
  test/contrib/test_module.py
Due: ruff, ruff-format, mypy

removed accidental line spaces
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

used alias for jax.tree_util in contrib/module
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

added docstrings for update_tree_params
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

working eqx_module that manages state internally
  numpyro/contrib/module.py
  test/contrib/test_module.py
Due: ruff, ruff-format, mypy

fixed issue with state getting broadcasted
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

smaller image
  docs/source/_static/img/tutorials/hierarchical_forecasting.png
Due: none

Fix behavior of logdiffexp(inf,inf), add test that would have caught. Fix typos
  numpyro/contrib/einstein/steinvi.py
  numpyro/distributions/util.py
  test/test_distributions_util.py
Due: ruff, ruff-format, mypy

use jax.lax.scan
  notebooks/source/hierarchical_forecasting.ipynb
Due: ruff, ruff-format

add loader function
  numpyro/examples/datasets.py
Due: ruff, ruff-format, mypy

improve deps
  notebooks/source/hierarchical_forecasting.ipynb
Due: ruff, ruff-format

Fix behavior of logdiffexp(inf,inf), add test that would have caught. Fix typos (#2007)
  numpyro/contrib/einstein/steinvi.py
  numpyro/distributions/util.py
  test/test_distributions_util.py
Due: ruff, ruff-format, mypy

added equinox as dev dependency
  setup.py
Due: ruff, ruff-format

load from parts
  numpyro/examples/datasets.py
Due: ruff, ruff-format, mypy

update nb
  notebooks/source/hierarchical_forecasting.ipynb
Due: ruff, ruff-format

remove unecessary requirements
  notebooks/source/hierarchical_forecasting.ipynb
Due: ruff, ruff-format

update paths
  numpyro/examples/datasets.py
Due: ruff, ruff-format, mypy

Port hierarchical multivariate forecasting model from Pyro to NumPyro (#2006)
  docs/source/_static/img/tutorials/hierarchical_forecasting.png
  docs/source/index.rst
  notebooks/source/hierarchical_forecasting.ipynb
  numpyro/examples/datasets.py
Due: ruff, ruff-format, mypy
