Repository pyro-ppl/numpyro: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check
        args: ["--fix", "--output-format=full"]
        files: "(.py$)|(.*.ipynb$)"
        language: system

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        files: "(.py$)|(.*.ipynb$)"

      - id: mypy
        name: mypy
        language: python
        entry: mypy --install-types --non-interactive
        files: ^numpyro/


  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-yaml
      - id: check-added-large-files
        exclude: notebooks/

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        stages: [pre-commit, commit-msg]
        args:
          [--ignore-words-list, "Teh,aas,ans", --check-filenames, --skip, "*.ipynb"]

redback 2/n
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

lint
  test/contrib/test_module.py
Due: ruff, ruff-format

skip test
  test/contrib/test_module.py
Due: ruff, ruff-format

feedback 3/n
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

partial
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

feedback states
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

clean tests part 1
  test/contrib/test_module.py
Due: ruff, ruff-format

set priors
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

better split
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

rm mutable from signature
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

cleaned comments
  numpyro/contrib/einstein/steinvi.py
Due: ruff, ruff-format, mypy

fix numpyro_mutable
  numpyro/contrib/module.py
  test/contrib/test_module.py
Due: ruff, ruff-format, mypy

fix test
  test/contrib/test_module.py
Due: ruff, ruff-format

fixed minor issues; reproduces results from previous version
  numpyro/contrib/einstein/steinvi.py
  test/contrib/einstein/test_steinvi.py
Due: ruff, ruff-format, mypy

added division by zero guard for ASVGD with num_cycles=1 and removed leak pytest.mark
  numpyro/contrib/einstein/steinvi.py
  test/contrib/einstein/test_steinvi.py
Due: ruff, ruff-format, mypy

do not apply optimizer before adjoint
  numpyro/contrib/funsor/discrete.py
  numpyro/contrib/funsor/infer_util.py
  test/contrib/test_infer_discrete.py
Due: ruff, ruff-format, mypy

removed ASVGD memleak test from CI
  .github/workflows/ci.yml
Due: none

Fix Memleak in ASVGD (#2003)
  .github/workflows/ci.yml
  numpyro/contrib/einstein/steinvi.py
  test/contrib/einstein/test_steinvi.py
Due: ruff, ruff-format, mypy

adjust precision of enum plates_6
  test/contrib/test_enum_elbo.py
Due: ruff, ruff-format

feedback part1
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

try fix apply function
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

Revert "try fix apply function"
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

Revert "Revert "try fix apply function""
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

rm reduntand line
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

better test name
  test/contrib/test_module.py
Due: ruff, ruff-format

are we updating more than needed?
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

rename and bring back update after model call
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

add prior component to example
  notebooks/source/nnx_example.ipynb
Due: ruff, ruff-format

finalize docs
  docs/source/_static/img/tutorials/nnx_example.png
  docs/source/primitives.rst
  notebooks/source/nnx_example.ipynb
Due: ruff, ruff-format

to_dict
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

stop gradient
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

Fix keyword argument for `PackRealFastFourierCoefficientsTransform` test.
  test/test_transforms.py
Due: ruff, ruff-format

Add `CirculantNormal` distribution.
  docs/source/distributions.rst
  numpyro/distributions/__init__.py
  numpyro/distributions/constraints.py
  numpyro/distributions/continuous.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

Fix shape promotion for `Circulant` distribution args.
  numpyro/distributions/continuous.py
  numpyro/distributions/util.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

Reformat `circulant_gp` example notebook.
  notebooks/source/circulant_gp.ipynb
Due: ruff, ruff-format

Add analytic KL divergence of diagonal `Normal` from `CirculantNormal`.
  numpyro/distributions/kl.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

Add `CirculantNormal` example notebook.
  docs/source/index.rst
  notebooks/source/circulant_gp.ipynb
Due: ruff, ruff-format

Add transform to pack and unpack Fourier coefficients.
  docs/source/distributions.rst
  numpyro/distributions/transforms.py
  test/test_transforms.py
Due: ruff, ruff-format, mypy

Fix Jacobian of `RealFastFourierTransform`.
  numpyro/distributions/transforms.py
Due: ruff, ruff-format, mypy

Implement `CirculantNormal` using transformations.
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy
