Repository pyro-ppl/numpyro: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: ruff check
  args:
  - --fix
  - --output-format=full
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

mypy:
  name: mypy
  language: python
  entry: mypy --install-types --non-interactive

This is a combination of 9 commits.
  .pre-commit-config.yaml
  numpyro/contrib/module.py
  test/contrib/test_module.py
Due: ruff, ruff-format, mypy

improvement
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

improvements
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

add more tests
  test/contrib/test_module.py
Due: ruff, ruff-format

add mcmc cases
  numpyro/contrib/module.py
  test/contrib/test_module.py
Due: ruff, ruff-format, mypy

fix
  numpyro/infer/util.py
  test/infer/test_infer_util.py
Due: ruff, ruff-format, mypy

rm comment
  numpyro/infer/util.py
Due: ruff, ruff-format, mypy

alternative rng
  numpyro/infer/util.py
Due: ruff, ruff-format, mypy

suggestion
  numpyro/contrib/module.py
  numpyro/infer/util.py
Due: ruff, ruff-format, mypy

add example
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

rm test patch
  numpyro/contrib/module.py
  test/contrib/test_module.py
Due: ruff, ruff-format, mypy

Apply `init_to_median` in unconstrained space.
  numpyro/infer/initialization.py
  test/infer/test_infer_util.py
Due: ruff, ruff-format, mypy

Return mean in `init_to_mean`.
  numpyro/infer/initialization.py
Due: ruff, ruff-format, mypy

Add `sum_sites` option to sum loss over sites or return as `dict`.
  numpyro/infer/elbo.py
  test/infer/test_svi.py
Due: ruff, ruff-format, mypy

Add missing newline in warning.
  numpyro/infer/elbo.py
Due: ruff, ruff-format, mypy

Update paths to data files
  numpyro/examples/datasets.py
Due: ruff, ruff-format, mypy

address numerical issues due to new jax release
  test/infer/test_autoguide.py
  test/test_distributions.py
  test/test_transforms.py
Due: ruff, ruff-format

fix the size of the new SP500 file
  test/test_example_utils.py
Due: ruff, ruff-format

Update paths to data files (#1996)
  numpyro/examples/datasets.py
  test/infer/test_autoguide.py
  test/test_distributions.py
  test/test_example_utils.py
  test/test_transforms.py
Due: ruff, ruff-format, mypy

Add `sum_sites` option to sum loss over sites or return as dict. (#1995)
  numpyro/infer/elbo.py
  test/infer/test_svi.py
Due: ruff, ruff-format, mypy

Improve rng default in the `contrib/model.py` module (#1992)
  numpyro/contrib/module.py
  test/infer/test_infer_util.py
Due: ruff, ruff-format, mypy

Promote dtype to inexact in `init_to_mean` and fix SteinVI test.
  numpyro/infer/initialization.py
  test/contrib/einstein/test_steinvi.py
Due: ruff, ruff-format, mypy

Fix `noqa` comment.
  notebooks/source/conf.py
Due: ruff, ruff-format

Fix padding calculation (#1993)
  numpyro/util.py
Due: ruff, ruff-format, mypy

Apply `init_to_median` in unconstrained space. (#1994)
  notebooks/source/conf.py
  numpyro/infer/initialization.py
  test/contrib/einstein/test_steinvi.py
  test/infer/test_infer_util.py
Due: ruff, ruff-format, mypy

Mark xfail for leaked tracer tests
  .github/workflows/ci.yml
  test/contrib/einstein/test_steinvi.py
  test/contrib/stochastic_support/test_sdvi.py
  test/contrib/test_enum_elbo.py
  test/contrib/test_esc_proxies.py
  test/contrib/test_infer_discrete.py
  test/infer/test_autoguide.py
  test/infer/test_gradient.py
  test/infer/test_hmc_gibbs.py
  test/infer/test_mcmc.py
  test/infer/test_svi.py
  test/test_distributions.py
  test/test_handlers.py
  test/test_pickle.py
Due: ruff, ruff-format

test_handlers::test_plate is renamed to test_jit_trace
  .github/workflows/ci.yml
Due: none

Path conditions:
  ruff: any of: (.py$)|(.*.ipynb$)
  ruff-format: any of: (.py$)|(.*.ipynb$)
  mypy: any of: ^numpyro/
