Repository pyro-ppl/numpyro: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check
        args: ["--fix", "--output-format=full"]
        files: "(.py$)|(.*.ipynb$)"
        language: system

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        files: "(.py$)|(.*.ipynb$)"

      - id: mypy
        name: mypy
        language: python
        entry: mypy --install-types --non-interactive
        files: ^numpyro/

      - id: ty
        name: ty check
        language: python
        entry: ty
        args: [check, --config-file, ty.toml, --exit-zero]
        pass_filenames: false
        always_run: true
        additional_dependencies: [ty]
        verbose: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-yaml
      - id: check-added-large-files
        exclude: notebooks/

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        stages: [pre-commit, commit-msg]
        args: [--ignore-words-list, "Teh,aas,ans,dout", --check-filenames, --skip, "*.ipynb"]

  # Format yaml files
  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt
        args: [-formatter, retain_line_breaks=true]

try fix test
  numpyro/distributions/distribution.py
Due: ruff, ruff-format, mypy

Add Types to `numpyro.distributions.distribution` (#2122)
  numpyro/_typing.py
  numpyro/distributions/censored.py
  numpyro/distributions/constraints.py
  numpyro/distributions/continuous.py
  numpyro/distributions/copula.py
  numpyro/distributions/discrete.py
  numpyro/distributions/distribution.py
  numpyro/distributions/mixtures.py
  pyproject.toml
  test/infer/test_hmc_gibbs.py
  test/test_typing.py
  ty.toml
Due: ruff, ruff-format, mypy

rm protocols
  numpyro/_typing.py
  numpyro/distributions/censored.py
  numpyro/distributions/conjugate.py
  numpyro/distributions/copula.py
  numpyro/distributions/mixtures.py
  numpyro/distributions/truncated.py
Due: ruff, ruff-format, mypy

transform type
  numpyro/distributions/flows.py
Due: ruff, ruff-format, mypy

Remove Typing Protocols (#2125)
  numpyro/_typing.py
  numpyro/distributions/censored.py
  numpyro/distributions/conjugate.py
  numpyro/distributions/copula.py
  numpyro/distributions/flows.py
  numpyro/distributions/mixtures.py
  numpyro/distributions/truncated.py
Due: ruff, ruff-format, mypy

ci: prek for pre-commit hooks check (#2121)
  .github/workflows/ci.yml
Due: none

fix(gh-2123): Validate component distributions of `MixtureSameFamily` have parameter-independent support
  numpyro/distributions/mixtures.py
  test/test_distributions_mixture.py
Due: ruff, ruff-format, mypy

fix(gh-2123): Validate component distributions of `MixtureSameFamily` have parameter-independent support (#2127)
  numpyro/distributions/mixtures.py
  test/test_distributions_mixture.py
Due: ruff, ruff-format, mypy

use standard __eq__ interpretation in constraints and transforms
  numpyro/distributions/constraints.py
  numpyro/distributions/directional.py
  numpyro/distributions/transforms.py
Due: ruff, ruff-format, mypy

CI(gh-2126): transition to uv for dependency management and testing
  .github/workflows/ci.yml
Due: none

fix: install packages in system
  .github/workflows/ci.yml
Due: none

fix: update path
  .github/workflows/ci.yml
Due: none

fix: specify uv python version in enviornment variable
  .github/workflows/ci.yml
Due: none

implement eq api and defer __eq__ for its static version
  numpyro/contrib/funsor/infer_util.py
  numpyro/contrib/stochastic_support/dcc.py
  numpyro/contrib/stochastic_support/sdvi.py
  numpyro/distributions/constraints.py
  numpyro/distributions/distribution.py
  numpyro/distributions/flows.py
  numpyro/distributions/transforms.py
  numpyro/distributions/util.py
  numpyro/handlers.py
  numpyro/infer/elbo.py
  numpyro/primitives.py
  numpyro/util.py
  test/test_constraints.py
  test/test_transforms.py
  ty.toml
Due: ruff, ruff-format, mypy

Add type hints to array_equiv function
  numpyro/distributions/util.py
Due: ruff, ruff-format, mypy

Try to not return a type in array_equiv
  numpyro/distributions/util.py
Due: ruff, ruff-format, mypy

Fix docs build for Python 3.13 and Ubuntu 24.04
  .readthedocs.yaml
  docs/requirements.txt
Due: none

Fix docs build for Python 3.13 and Ubuntu 24.04 (#2131)
  .readthedocs.yaml
  docs/requirements.txt
Due: none

DOC: a HMC -> an HMC
  numpyro/infer/hmc_gibbs.py
Due: ruff, ruff-format, mypy

DOC: an positive -> a positive
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

DOC: a MCMC trajectory -> an MCMC trajectory
  numpyro/infer/hmc.py
Due: ruff, ruff-format, mypy

DOC: a MCMC sample -> an MCMC sample
  examples/sparse_regression.py
Due: ruff, ruff-format

DOC: Minor wording changes to numpyro code comments (#2133)
  examples/sparse_regression.py
  numpyro/distributions/continuous.py
  numpyro/infer/hmc.py
  numpyro/infer/hmc_gibbs.py
Due: ruff, ruff-format, mypy

fix: files reformatted with `ruff==0.15.0`
  notebooks/source/gmm.ipynb
  numpyro/contrib/einstein/stein_loss.py
  numpyro/contrib/einstein/steinvi.py
  numpyro/infer/hmc_gibbs.py
  numpyro/infer/mcmc.py
  numpyro/infer/mixed_hmc.py
  test/infer/test_svi.py
Due: ruff, ruff-format, mypy

Fix EnsembleSampler second split to use complementary inactive chains.
  numpyro/infer/ensemble.py
  test/infer/test_ensemble_mcmc.py
Due: ruff, ruff-format, mypy

Clarify complementary-split regression test fixture
  test/infer/test_ensemble_mcmc.py
Due: ruff, ruff-format

test: update PRNG key test
  test/test_handlers.py
Due: ruff, ruff-format

test: update test effected by the `optax==0.2.7` release
  test/test_optimizers.py
Due: ruff, ruff-format

chore: `setup.py` -> `pyproject.toml`
  pyproject.toml
  setup.py
Due: ruff, ruff-format

chore: files formatted with `ruff-v0.15.0`
  notebooks/source/gmm.ipynb
  numpyro/contrib/einstein/stein_loss.py
  numpyro/contrib/einstein/steinvi.py
  numpyro/infer/hmc_gibbs.py
  numpyro/infer/mcmc.py
  numpyro/infer/mixed_hmc.py
  test/infer/test_svi.py
Due: ruff, ruff-format, mypy

chore: halting `test/test_optimizers::test_numpyrooptim_no_double_jit` till gh-2137 is merged
  test/test_optimizers.py
Due: ruff, ruff-format

Revert "test: update test effected by the `optax==0.2.7` release"
  test/test_optimizers.py
Due: ruff, ruff-format

Revert "fix: files reformatted with `ruff==0.15.0`"
  notebooks/source/gmm.ipynb
  numpyro/contrib/einstein/stein_loss.py
  numpyro/contrib/einstein/steinvi.py
  numpyro/infer/hmc_gibbs.py
  numpyro/infer/mcmc.py
  numpyro/infer/mixed_hmc.py
  test/infer/test_svi.py
Due: ruff, ruff-format, mypy

chore: files formatted with `ruff-v0.15.0` (#2136)
  notebooks/source/gmm.ipynb
  numpyro/contrib/einstein/stein_loss.py
  numpyro/contrib/einstein/steinvi.py
  numpyro/infer/hmc_gibbs.py
  numpyro/infer/mcmc.py
  numpyro/infer/mixed_hmc.py
  test/infer/test_svi.py
  test/test_optimizers.py
Due: ruff, ruff-format, mypy

test: remove test skip
  test/test_optimizers.py
Due: ruff, ruff-format

test: update test effected by the `optax==0.2.7` release (#2137)
  test/test_optimizers.py
Due: ruff, ruff-format
