Repository pyro-ppl/numpyro: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check
        args: ["--fix", "--output-format=full"]
        files: "(.py$)|(.*.ipynb$)"
        language: system

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        files: "(.py$)|(.*.ipynb$)"

      - id: mypy
        name: mypy
        language: python
        entry: mypy --install-types --non-interactive
        files: ^numpyro/

      - id: ty
        name: ty check
        language: python
        entry: ty
        args: [check, --config-file, ty.toml, --exit-zero]
        pass_filenames: false
        always_run: true
        additional_dependencies: [ty]
        verbose: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements
      - id: check-yaml
      - id: check-added-large-files
        exclude: notebooks/

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        stages: [pre-commit, commit-msg]
        args: [--ignore-words-list, "Teh,aas,ans,dout", --check-filenames, --skip, "*.ipynb"]

  # Format yaml files
  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt
        args: [-formatter, retain_line_breaks=true]

Fix total_count dtype in binomial-derived distributions
  numpyro/distributions/conjugate.py
  numpyro/distributions/discrete.py
Due: ruff, ruff-format, mypy

fix: allowing rate to be zero
  numpyro/distributions/discrete.py
Due: ruff, ruff-format, mypy

fix(gh-2181): ensure consistent behavior of `Poisson.log_prob` by casting rate to floating-point type
  numpyro/distributions/discrete.py
Due: ruff, ruff-format, mypy

test: unit test that covers the fix
  test/test_distributions.py
Due: ruff, ruff-format

fix: remove float values from test cases
  test/test_distributions.py
Due: ruff, ruff-format

fix hpdi docstring
  numpyro/diagnostics.py
Due: ruff, ruff-format, mypy

Fix SWIG paper link
  notebooks/source/effect_handlers.ipynb
Due: ruff, ruff-format

doc: detailed documentation of `Beta` and `BetaProportion` distribution
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

dev: pre-commit hook to standardize toml format
  .pre-commit-config.yaml
  pyproject.toml
  tombi.toml
  ty.toml
Due: none

doc: detailed documentation of `Beta` and `BetaProportion` distribution (#2185)
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

doc: add math explanations for Normal, Cauchy, and Exponential distributions (#2187)
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

Address review feedback: add log_cdf equation and use \frac
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

add icdf equation for Normal distribution
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

fix: documenting equations as per the implementation
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

doc(gh-2187): add math explanations for Normal, Cauchy, and Exponential distributions (#2188)
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

dev: pre-commit hook to standardize toml format (#2186)
  .pre-commit-config.yaml
  pyproject.toml
  tombi.toml
  ty.toml
Due: none

fix: freshly formatted toml files
  pyproject.toml
Due: none

chore: update pre-commit hooks to their latest
  .pre-commit-config.yaml
Due: none

fix: freshly formatted toml files (#2190)
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Fix EnsembleSampler second split to use complementary inactive chains
  numpyro/infer/ensemble.py
  test/infer/test_ensemble_mcmc.py
Due: ruff, ruff-format, mypy

doc: replace XXX with Note
  numpyro/contrib/control_flow/scan.py
  numpyro/contrib/module.py
  numpyro/contrib/tfp/distributions.py
  numpyro/contrib/tfp/mcmc.py
  numpyro/distributions/conjugate.py
  numpyro/distributions/transforms.py
  numpyro/examples/datasets.py
  numpyro/infer/autoguide.py
  numpyro/infer/elbo.py
  numpyro/infer/ensemble.py
  numpyro/infer/hmc.py
  numpyro/infer/hmc_gibbs.py
  numpyro/infer/hmc_util.py
  numpyro/infer/initialization.py
  numpyro/infer/mcmc.py
  numpyro/infer/sa.py
  numpyro/infer/svi.py
  numpyro/infer/util.py
  numpyro/ops/provenance.py
  numpyro/primitives.py
  numpyro/util.py
  test/infer/test_infer_util.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

doc: replace XXX with Note in the code comments (#2191)
  numpyro/contrib/control_flow/scan.py
  numpyro/contrib/module.py
  numpyro/contrib/tfp/distributions.py
  numpyro/contrib/tfp/mcmc.py
  numpyro/distributions/conjugate.py
  numpyro/distributions/transforms.py
  numpyro/examples/datasets.py
  numpyro/infer/autoguide.py
  numpyro/infer/elbo.py
  numpyro/infer/ensemble.py
  numpyro/infer/hmc.py
  numpyro/infer/hmc_gibbs.py
  numpyro/infer/hmc_util.py
  numpyro/infer/initialization.py
  numpyro/infer/mcmc.py
  numpyro/infer/sa.py
  numpyro/infer/svi.py
  numpyro/infer/util.py
  numpyro/ops/provenance.py
  numpyro/primitives.py
  numpyro/util.py
  test/infer/test_infer_util.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

doc(gh-2187): enhance documentation for Bernoulli and Binomial distributions
  docs/source/conf.py
  numpyro/distributions/discrete.py
Due: ruff, ruff-format, mypy

Fix incorrect statement in GammaPoisson log_prob docstring
  numpyro/distributions/conjugate.py
Due: ruff, ruff-format, mypy

Fix incorrect statement in GammaPoisson log_prob docstring (#2194)
  numpyro/distributions/conjugate.py
Due: ruff, ruff-format, mypy

hurdle init
  docs/source/distributions.rst
  numpyro/distributions/__init__.py
  numpyro/distributions/conjugate.py
  numpyro/distributions/continuous.py
  numpyro/distributions/discrete.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

fix: remove double back-slash
  numpyro/distributions/discrete.py
Due: ruff, ruff-format, mypy

Expose NegativeBinomial from top-level distributions module
  numpyro/distributions/__init__.py
Due: ruff, ruff-format, mypy

Expose NegativeBinomial from top-level distributions module (#2196)
  numpyro/distributions/__init__.py
Due: ruff, ruff-format, mypy

Expose `ZeroInflatedLogits` and `ZeroInflatedProbs` from top-level distributions module
  numpyro/distributions/__init__.py
Due: ruff, ruff-format, mypy

Expose `ZeroInflatedLogits` and `ZeroInflatedProbs` from top-level distributions module (#2197)
  numpyro/distributions/__init__.py
Due: ruff, ruff-format, mypy

Fix EnsembleSampler second split to use complementary inactive chains (#2189)
  numpyro/infer/ensemble.py
  test/infer/test_ensemble_mcmc.py
Due: ruff, ruff-format, mypy

doc(gh-2187): enhance documentation for Bernoulli and Binomial distributions (#2192)
  docs/source/conf.py
  numpyro/distributions/discrete.py
Due: ruff, ruff-format, mypy

doc(gh-2187): enhance documentation for Chi2, DiscreteUniform, and Categorical distributions
  numpyro/distributions/continuous.py
  numpyro/distributions/discrete.py
Due: ruff, ruff-format, mypy

feedback 1
  numpyro/distributions/discrete.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

skip gof
  test/test_gof.py
Due: ruff, ruff-format

https -> http
  numpyro/examples/datasets.py
Due: ruff, ruff-format, mypy

Fix path Boston housing dataset (#2200)
  numpyro/examples/datasets.py
Due: ruff, ruff-format, mypy

feedback docs
  docs/source/distributions.rst
  numpyro/distributions/conjugate.py
  numpyro/distributions/continuous.py
  numpyro/distributions/discrete.py
Due: ruff, ruff-format, mypy
