Repository pyro-ppl/numpyro: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check
        args: ["--fix", "--output-format=full"]
        files: "(.py$)|(.*.ipynb$)"
        language: system

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        files: "(.py$)|(.*.ipynb$)"

      - id: mypy
        name: mypy
        language: python
        entry: mypy --install-types --non-interactive
        files: ^numpyro/


  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-yaml
      - id: check-added-large-files
        exclude: notebooks/

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        stages: [pre-commit, commit-msg]
        args:
          [--ignore-words-list, "Teh,aas,ans", --check-filenames, --skip, "*.ipynb"]

Implement LeftCensoredDistribution and RightCensoredDistribution (#2081)
  docs/source/distributions.rst
  numpyro/distributions/__init__.py
  numpyro/distributions/censored.py
  test/test_distributions.py
  test/test_gof.py
Due: ruff, ruff-format, mypy

revert to use jnp.array_equal to compare the domains
  numpyro/distributions/batch_util.py
  numpyro/distributions/constraints.py
  numpyro/distributions/transforms.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

fix lint
  numpyro/distributions/transforms.py
Due: ruff, ruff-format, mypy

fix(gh-2036): MyPy Errors in `numpyro.distributions.transforms` Module (#2066)
  numpyro/_typing.py
  numpyro/distributions/batch_util.py
  numpyro/distributions/constraints.py
  numpyro/distributions/transforms.py
  pyproject.toml
  test/test_distributions.py
Due: ruff, ruff-format, mypy

feat: enhance types in `numpyro.distributions.constraints` module
  numpyro/_typing.py
  numpyro/distributions/constraints.py
  numpyro/distributions/transforms.py
  pyproject.toml
Due: ruff, ruff-format, mypy

refactor: simplify `ConstraintT` protocol by removing generic type parameter
  numpyro/_typing.py
  numpyro/distributions/constraints.py
Due: ruff, ruff-format, mypy

try fix types
  numpyro/_typing.py
  numpyro/distributions/constraints.py
  numpyro/distributions/transforms.py
Due: ruff, ruff-format, mypy

start implementing intervalcensored
  numpyro/distributions/censored.py
Due: ruff, ruff-format, mypy

DOC: Correct a typo: lets -> let's
  notebooks/source/time_series_forecasting.ipynb
Due: ruff, ruff-format

refactor: remove unused `NumLikeT` type variable and streamline imports in typing modules
  numpyro/_typing.py
  numpyro/distributions/constraints.py
  numpyro/distributions/transforms.py
Due: ruff, ruff-format, mypy

refactor: remove setter methods for `is_discrete` and `event_dim` in `Constraint` class
  numpyro/_typing.py
  numpyro/distributions/constraints.py
Due: ruff, ruff-format, mypy

refactor: replace `reshape` method with `jnp.reshape` in `_IndependentConstraint` class
  numpyro/distributions/constraints.py
Due: ruff, ruff-format, mypy

refactor: replace `jnp` with dynamic use of `jax.numpy` or `numpy`
  numpyro/distributions/constraints.py
Due: ruff, ruff-format, mypy

DOC: Correct a typo: lets -> let's (#2087)
  notebooks/source/time_series_forecasting.ipynb
Due: ruff, ruff-format

Revert "refactor: remove unused `NumLikeT` type variable and streamline imports in typing modules"
  numpyro/_typing.py
  numpyro/distributions/constraints.py
  numpyro/distributions/transforms.py
Due: ruff, ruff-format, mypy

minor updates, passing non-interval specific tests
  numpyro/distributions/__init__.py
  numpyro/distributions/censored.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

refactor: replace `jnp` with `xp` and replace logical operations with bitwise operators
  numpyro/distributions/constraints.py
Due: ruff, ruff-format, mypy

refactor: update type parameters in `_RealVector` and `_RealMatrix` classes to use `NonScalarArray`
  numpyro/distributions/constraints.py
Due: ruff, ruff-format, mypy

refactor: replace private attributes with public properties for `is_discrete` and `event_dim` in `Constraint` class
  numpyro/distributions/constraints.py
Due: ruff, ruff-format, mypy

add logp test for intervalcensored
  numpyro/distributions/censored.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

fix
  numpyro/distributions/continuous.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

allow exact observations in intervalcensored; update tests for intervalcensored
  numpyro/distributions/censored.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

update docs
  docs/source/distributions.rst
  numpyro/distributions/censored.py
Due: ruff, ruff-format, mypy

chore: update `numpyro.util.set_platform` for `JAX_PLATFORM_NAME` and `JAX_PLATFORMS`
  numpyro/util.py
Due: ruff, ruff-format, mypy

fix: update default values for `flag_name` and `valid_platforms` in `numpyro.util.set_platform` function
  numpyro/util.py
Due: ruff, ruff-format, mypy

chore: update type hints for `flag_name` and `valid_platforms` in `numpyro.util.set_platform` function
  numpyro/util.py
Due: ruff, ruff-format, mypy

chore: update comment for valid platforms in `numpyro.util.set_platform` function
  numpyro/util.py
Due: ruff, ruff-format, mypy

implement interval censoring validate_sample
  numpyro/distributions/censored.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

chore: update `numpyro.util.set_platform` for `JAX_PLATFORM_NAME` and `JAX_PLATFORMS` (#2091)
  numpyro/util.py
Due: ruff, ruff-format, mypy

use log1mexp for numerical stability
  numpyro/distributions/censored.py
Due: ruff, ruff-format, mypy

add custom gradient
  numpyro/distributions/continuous.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

simplify tests
  test/test_distributions.py
Due: ruff, ruff-format

another approach
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

Implement IntervalCensoredDistribution (#2090)
  docs/source/distributions.rst
  numpyro/distributions/__init__.py
  numpyro/distributions/censored.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

clean up merge
  test/test_distributions.py
Due: ruff, ruff-format

use uv
  .github/workflows/ci.yml
Due: none

feat: add support for CUDA 12 and CUDA 13
  README.md
  setup.py
Due: ruff, ruff-format

initial fix
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

initial test
  test/test_distributions.py
Due: ruff, ruff-format

add more tests
  test/test_distributions.py
Due: ruff, ruff-format
