Repository pyro-ppl/numpyro: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: ruff check
  args:
  - --fix
  - --output-format=full
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

mypy:
  name: mypy
  language: python
  entry: mypy --install-types --non-interactive

numpyro.primitives: correct implementation and use of callable init_value()
  numpyro/primitives.py
Due: ruff, ruff-format, mypy

Add TruncatedGamma distribution (left-truncated Gamma)
  numpyro/distributions/__init__.py
  numpyro/distributions/truncated.py
Due: ruff, ruff-format, mypy

Add tests for TruncatedGamma distribution
  test/test_distributions.py
Due: ruff, ruff-format

Reset mean_accept_prob at warmup/sampling boundary for accurate post-warmup reporting
  numpyro/infer/barker.py
  numpyro/infer/hmc.py
  numpyro/infer/mixed_hmc.py
  numpyro/infer/sa.py
Due: ruff, ruff-format, mypy

numpyro.distributions: intermediates through log_prob of Expanded, Independent
  numpyro/distributions/distribution.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

numpyro.primitives: include type annotation, fix formatting in param()
  numpyro/primitives.py
Due: ruff, ruff-format, mypy

Miscellaneous bugfixes (#2215)
  numpyro/distributions/distribution.py
  numpyro/primitives.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

numpyro.distributions: factor Categorical classes into _CategoricalBase
  numpyro/distributions/discrete.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

MixtureSameFamily: accept vectorized (Independent) component supports
  numpyro/distributions/mixtures.py
Due: ruff, ruff-format, mypy

numpyro.distributions: fix NaN mixture log_prob gradient at zero weights
  numpyro/distributions/mixtures.py
  test/test_distributions_mixture.py
Due: ruff, ruff-format, mypy

Avoid unnecessary copies of array data in random_*_module and promote_batch_shape
  numpyro/contrib/module.py
  numpyro/distributions/batch_util.py
Due: ruff, ruff-format, mypy

Add tests for structure-only copies in module params and promote_batch_shape
  test/contrib/test_module.py
  test/test_distributions.py
Due: ruff, ruff-format

Use jax.tree.map to copy param structure per review feedback
  numpyro/contrib/module.py
  test/contrib/test_module.py
Due: ruff, ruff-format, mypy

Avoid unnecessary deepcopy in `random_*_module` and `promote_batch_shape` (#2222)
  numpyro/contrib/module.py
  numpyro/distributions/batch_util.py
  test/contrib/test_module.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

Fix stale trace count in test_mcmc_parallel_chain and run it in CI
  .github/workflows/ci.yml
  test/test_compile.py
Due: ruff, ruff-format

pyproject.toml: add enough `dev` dependencies to get `uv run make test` passing
  pyproject.toml
Due: none

Fix stale trace count in test_mcmc_parallel_chain and run it in CI (#2223)
  .github/workflows/ci.yml
  pyproject.toml
  test/test_compile.py
Due: ruff, ruff-format

doc(gh-2187): documentation for dirichlet
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

doc(gh-2187): documentation for dirichlet & geometric
  numpyro/distributions/continuous.py
  numpyro/distributions/discrete.py
Due: ruff, ruff-format, mypy

doc(gh-2187): addressed review comments
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

doc(gh-2187): fixed linting issue
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

doc(gh-2187): addressed review comments
  numpyro/distributions/continuous.py
  numpyro/distributions/discrete.py
Due: ruff, ruff-format, mypy

doc(gh-2187): fix typo
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

chore: format README with recent `ruff==0.16.0`
  README.md
Due: none

chore: format README with recent `ruff==0.16.0` (#2228)
  README.md
Due: none

doc: update README for header structure
  README.md
Due: none

doc: simplify by using Markdown instead of HTML
  README.md
Due: none

doc: fix stale instructions in docs/README
  docs/README.md
Due: none

feat: compare branch speed against master and report it on the PR
  .github/workflows/benchmark-comment.yml
  .github/workflows/benchmark.yml
  benchmarks/README.md
  benchmarks/__init__.py
  benchmarks/compare.py
  benchmarks/harness.py
  benchmarks/models.py
  benchmarks/runner.py
  benchmarks/suites/__init__.py
  benchmarks/suites/distributions.py
  benchmarks/suites/handlers.py
  benchmarks/suites/mcmc.py
  benchmarks/suites/svi.py
Due: ruff, ruff-format

fix: format `benchmark.yml`
  .github/workflows/benchmark.yml
Due: none

fix: post the benchmark report as a PR comment, not just an artifact
  .github/scripts/post-sticky-comment.js
  .github/workflows/benchmark-comment.yml
  .github/workflows/benchmark.yml
  benchmarks/README.md
Due: none

fix: format `benchmark.yml` and `benchmark-comment.yml`
  .github/workflows/benchmark-comment.yml
  .github/workflows/benchmark.yml
Due: none

feat: colour the deltas, link the commits, rename the side columns
  .github/workflows/benchmark.yml
  benchmarks/README.md
  benchmarks/compare.py
Due: ruff, ruff-format

refactor: render results as fixed-width diff blocks instead of tables
  benchmarks/README.md
  benchmarks/compare.py
Due: ruff, ruff-format

Path conditions:
  ruff: any of: (.py$)|(.*.ipynb$)
  ruff-format: any of: (.py$)|(.*.ipynb$)
  mypy: any of: ^numpyro/
