Repository pyro-ppl/numpyro: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: ruff check
  args:
  - --fix
  - --output-format=full
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

mypy:
  name: mypy
  language: python
  entry: mypy --install-types --non-interactive

test(hmm): shrink the expand sample-shape test and annotate oracle tolerances
  test/ops/test_gaussian.py
  test/test_distributions_hmm.py
Due: ruff, ruff-format

fix(ops): probe the factorized ordering in loc_and_scale_tril and correct the Cholesky docs
  numpyro/distributions/hmm.py
  numpyro/infer/hmc_util.py
  numpyro/ops/gaussian.py
  test/ops/test_gaussian.py
Due: ruff, ruff-format, mypy

feat(distributions): add GammaGaussianHMM
  numpyro/distributions/__init__.py
  numpyro/distributions/hmm.py
  test/test_distributions_hmm.py
Due: ruff, ruff-format, mypy

feat(ops): add GammaGaussian factor algebra
  numpyro/ops/gamma_gaussian.py
  test/ops/test_gamma_gaussian.py
Due: ruff, ruff-format, mypy

feat(ops): add GammaGaussian factories and parallel reduction
  numpyro/ops/gamma_gaussian.py
  test/ops/test_gamma_gaussian.py
Due: ruff, ruff-format, mypy

feat(reparam): add LinearHMMReparam
  numpyro/infer/reparam.py
  test/infer/test_reparam.py
Due: ruff, ruff-format, mypy

docs,ci: register GammaGaussianHMM, LinearHMM, GaussianMRF and reparams
  .github/workflows/ci.yml
  docs/source/distributions.rst
  docs/source/reparam.rst
  docs/source/utilities.rst
  pyproject.toml
Due: none

feat(distributions): add sampling-only LinearHMM
  numpyro/distributions/__init__.py
  numpyro/distributions/hmm.py
  test/test_distributions_hmm.py
Due: ruff, ruff-format, mypy

fix(distributions): keep homogeneous time axis at 1 in LinearHMM.expand
  numpyro/distributions/hmm.py
  test/test_distributions_hmm.py
Due: ruff, ruff-format, mypy

feat(reparam): add StudentTReparam
  numpyro/infer/reparam.py
  test/infer/test_reparam.py
Due: ruff, ruff-format, mypy

feat(distributions): add GaussianMRF
  numpyro/distributions/__init__.py
  numpyro/distributions/hmm.py
  test/test_distributions_hmm.py
Due: ruff, ruff-format, mypy

refactor(hmm): adopt shared reduction and layout helpers in the HMM family
  numpyro/distributions/hmm.py
Due: ruff, ruff-format, mypy

fix: apply final review findings for the HMM family
  numpyro/distributions/hmm.py
  numpyro/infer/reparam.py
  pyproject.toml
  test/ops/test_gamma_gaussian.py
  test/test_distributions_hmm.py
Due: ruff, ruff-format, mypy

fix(hmm): independent initial noise under vmap, validated Gamma factors, export is_gaussian_noise
  numpyro/distributions/hmm.py
  numpyro/ops/gamma_gaussian.py
  numpyro/ops/gaussian.py
  pyproject.toml
  test/ops/test_gamma_gaussian.py
  test/test_distributions_hmm.py
Due: ruff, ruff-format, mypy

fix(reparam): fold time and obs dims into event dims for plated LinearHMMReparam; accept expanded Gamma priors
  numpyro/distributions/hmm.py
  numpyro/infer/reparam.py
  numpyro/ops/gamma_gaussian.py
  test/infer/test_reparam.py
  test/test_distributions_hmm.py
Due: ruff, ruff-format, mypy

fix(hmm): consistent noise acceptance, LinearHMM batch shape and transform checks, MRF normalizer once; Sphinx docstrings
  numpyro/distributions/hmm.py
  numpyro/distributions/util.py
  numpyro/infer/reparam.py
  numpyro/ops/gamma_gaussian.py
  numpyro/ops/gaussian.py
  test/infer/test_reparam.py
  test/ops/test_gamma_gaussian.py
  test/test_distributions_hmm.py
Due: ruff, ruff-format, mypy

test(hmm): cover reparam sub-sites, LinearHMM marginals, IndependentHMM wrappers and GammaGaussian edge cases
  test/infer/test_reparam.py
  test/ops/test_gamma_gaussian.py
  test/test_distributions_hmm.py
Due: ruff, ruff-format

fix(reparam): propagate validate_args, document the obs contract, explicit LinearHMM has_rsample
  numpyro/distributions/distribution.py
  numpyro/distributions/hmm.py
  numpyro/distributions/util.py
  numpyro/infer/reparam.py
  test/infer/test_reparam.py
  test/test_distributions_hmm.py
Due: ruff, ruff-format, mypy

refactor(ops): share factor shape operations, sequential reduction and Schur marginalization
  numpyro/ops/gamma_gaussian.py
  test/ops/test_gamma_gaussian.py
  test/test_distributions_hmm.py
Due: ruff, ruff-format, mypy

fix(hmm): adapt family branch to the ops branch changes
  numpyro/ops/gamma_gaussian.py
  test/ops/test_gamma_gaussian.py
Due: ruff, ruff-format, mypy

fix(hmm): explicit sampling errors for GammaGaussianHMM and GaussianMRF
  numpyro/distributions/hmm.py
Due: ruff, ruff-format, mypy

fix(reparam): propagate validate_args through observation transforms
  numpyro/infer/reparam.py
  test/infer/test_reparam.py
  test/ops/test_gamma_gaussian.py
Due: ruff, ruff-format, mypy

fix(ops): validate GammaGaussian scale fields and reuse the static permutation path
  numpyro/distributions/hmm.py
  numpyro/ops/gamma_gaussian.py
  test/ops/test_gamma_gaussian.py
Due: ruff, ruff-format, mypy

test(hmm): strengthen vmap, Predictive and factor-addition assertions
  test/infer/test_reparam.py
  test/ops/test_gamma_gaussian.py
  test/test_distributions_hmm.py
Due: ruff, ruff-format

test(hmm): independent MRF oracle, posterior check in NUTS smoke, jit/vmap/pytree and Predictive coverage
  .github/workflows/ci.yml
  test/infer/test_reparam.py
  test/ops/test_gamma_gaussian.py
  test/test_distributions_hmm.py
Due: ruff, ruff-format

fix(hmm): coerce matrices, correct the factor invariant docs, and validate GaussianMRF inputs
  numpyro/distributions/hmm.py
  test/test_distributions_hmm.py
Due: ruff, ruff-format, mypy

doc(gh-2187): correct the sampler described in Multinomial sample docstrings
  numpyro/distributions/discrete.py
Due: ruff, ruff-format, mypy

doc(gh-2187): mathematical details for count-data distributions (#2277)
  numpyro/distributions/conjugate.py
  numpyro/distributions/discrete.py
Due: ruff, ruff-format, mypy

doc: add mathematical documentation to Poisson distribution
  numpyro/distributions/discrete.py
Due: ruff, ruff-format, mypy

doc: add CLAUDE.md with development commands and architecture notes
  CLAUDE.md
Due: none

doc: use short-form cross-reference for jax.random.poisson
  numpyro/distributions/discrete.py
Due: ruff, ruff-format, mypy

doc: rename CLAUDE.md to AGENTS.md and make wording tool-neutral
  AGENTS.md
Due: none

doc(gh-2187): add mathematical documentation to Poisson distribution (#2279)
  numpyro/distributions/discrete.py
Due: ruff, ruff-format, mypy

doc: add CLAUDE.md for coding agents (#2280)
  AGENTS.md
Due: none

doc(gh-2187): mathematical details for asymmetric Laplace and multivariate location-scale distributions
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

doc(gh-2187): add method docstrings and restyle PDFs per review on #2281
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

fix(distributions): accept infinite logits and truncation bounds
  docs/source/distributions.rst
  numpyro/distributions/conjugate.py
  numpyro/distributions/constraints.py
  numpyro/distributions/discrete.py
  numpyro/distributions/truncated.py
  test/test_constraints.py
  test/test_distributions.py
  test/test_pickle.py
Due: ruff, ruff-format, mypy

doc(gh-2187): add mathematical documentation to Gompertz distribution
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

fix(contrib/funsor): explain unmatched enumeration dimensions
  numpyro/contrib/funsor/discrete.py
  test/contrib/test_infer_discrete.py
Due: ruff, ruff-format, mypy

fix(contrib/funsor): only relabel a KeyError about an unnamed dimension
  numpyro/contrib/funsor/discrete.py
  test/contrib/test_infer_discrete.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: (.py$)|(.*.ipynb$)
  ruff-format: any of: (.py$)|(.*.ipynb$)
  mypy: any of: ^numpyro/
