Repository pyro-ppl/numpyro: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check
        args: ["--fix", "--output-format=full"]
        files: "(.py$)|(.*.ipynb$)"
        language: system

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        files: "(.py$)|(.*.ipynb$)"

      - id: mypy
        name: mypy
        language: python
        entry: mypy --install-types --non-interactive
        files: ^numpyro/


  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-yaml
      - id: check-added-large-files
        exclude: notebooks/

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        stages: [pre-commit, commit-msg]
        args:
          [--ignore-words-list, "Teh,aas,ans", --check-filenames, --skip, "*.ipynb"]

Make pip install calls compatible with zsh (#1962)
  .github/workflows/ci.yml
  CONTRIBUTING.md
  Makefile
  README.md
  docker/dev/Dockerfile
  docker/release/Dockerfile
  setup.py
Due: ruff, ruff-format

Add `log1mexp` and `logdiffexp` functions (#1960)
  .pre-commit-config.yaml
  docs/source/distributions.rst
  numpyro/distributions/util.py
  test/test_distributions_util.py
Due: ruff, ruff-format, mypy

Do not block site if nameless in `scan`.
  numpyro/contrib/control_flow/scan.py
Due: ruff, ruff-format, mypy

Remove redundant seeding for auto guides.
  numpyro/infer/autoguide.py
  test/infer/test_autoguide.py
Due: ruff, ruff-format, mypy

Fetch `rng_key` using `prng_key` message in `block` handler.
  numpyro/handlers.py
  test/test_handlers.py
Due: ruff, ruff-format, mypy

Do not block `prng_key` messages.
  numpyro/handlers.py
  numpyro/infer/autoguide.py
  test/infer/test_autoguide.py
  test/test_handlers.py
Due: ruff, ruff-format, mypy

Revert "fix(tests): using different PRNGKey or high precision for failing tests"
  .github/workflows/ci.yml
  test/test_distributions.py
  test/test_distributions_util.py
  test/test_handlers.py
  test/test_transforms.py
  test/utils.py
Due: ruff, ruff-format

fix(tests): update tolerance levels and PRNGKey usage for improved test stability
  test/test_distributions.py
  test/test_distributions_util.py
  test/test_handlers.py
  test/test_transforms.py
Due: ruff, ruff-format

fix(tests): increase relative tolerance for `test_cholesky_update`
  test/test_distributions_util.py
Due: ruff, ruff-format

fix(setup): update JAX version constraints to allow newer versions
  setup.py
Due: ruff, ruff-format

fix(tests): relax tolerance for `test_logistic_regression_x64`
  test/infer/test_mcmc.py
Due: ruff, ruff-format

fix(tests): increase tolerance levels for `test_logistic_regression_x64` and `test_get_proposal_loc_and_scale`
  test/infer/test_mcmc.py
Due: ruff, ruff-format

Add `ComplexTransform`.
  docs/source/distributions.rst
  numpyro/distributions/transforms.py
  test/test_transforms.py
Due: ruff, ruff-format, mypy

Fetch `rng_key` using `prng_key` message in block handler. (#1957)
  numpyro/contrib/control_flow/scan.py
  numpyro/handlers.py
  numpyro/infer/autoguide.py
  test/infer/test_autoguide.py
  test/test_handlers.py
Due: ruff, ruff-format, mypy

Add `ComplexTransform`. (#1964)
  docs/source/distributions.rst
  numpyro/distributions/transforms.py
  test/test_transforms.py
Due: ruff, ruff-format, mypy

fix event dim of some arg constraints
  Makefile
  numpyro/distributions/continuous.py
  numpyro/distributions/discrete.py
  numpyro/distributions/truncated.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

some jax core functionalities are deprecated
  numpyro/ops/provenance.py
Due: ruff, ruff-format, mypy

refactor test_gof in a separate file
  test/test_distributions.py
  test/test_gof.py
Due: ruff, ruff-format

skip MatrixNormal for gof test
  test/test_gof.py
Due: ruff, ruff-format

fix event dim of some arg constraints (#1967)
  Makefile
  numpyro/distributions/continuous.py
  numpyro/distributions/discrete.py
  numpyro/distributions/truncated.py
  test/test_distributions.py
Due: ruff, ruff-format, mypy

some jax core functionalities are deprecated (#1966)
  numpyro/ops/provenance.py
Due: ruff, ruff-format, mypy

Refactor test_gof into a separate file (#1965)
  test/test_distributions.py
  test/test_gof.py
Due: ruff, ruff-format

chore: simplified tolerance values fot unit tests
  test/infer/test_mcmc.py
  test/test_distributions.py
  test/test_distributions_util.py
  test/test_transforms.py
Due: ruff, ruff-format

feat: add `init_strategy` to NUTS kernel in MCMC test
  test/infer/test_mcmc.py
Due: ruff, ruff-format

chore: skip `test/infer/test_mcmc.py::test_change_point_x64` on python 3.9
  test/infer/test_mcmc.py
Due: ruff, ruff-format

test: increase iteration count and adjust precision tolerances in `infer` tests
  test/infer/test_autoguide.py
  test/infer/test_gradient.py
  test/infer/test_hmc_gibbs.py
Due: ruff, ruff-format

test: adjust random key usage and tolerance levels in contrib and infer tests
  test/contrib/einstein/test_stein_kernels.py
  test/contrib/test_control_flow.py
  test/contrib/test_enum_elbo.py
  test/infer/test_mcmc.py
Due: ruff, ruff-format

ci: enable continue-on-error for all test jobs in CI workflow
  .github/workflows/ci.yml
Due: none

fix(tests): update tolerance levels and `PRNGKey` usage for improved test stability (#1959)
  .github/workflows/ci.yml
  setup.py
  test/contrib/einstein/test_stein_kernels.py
  test/contrib/test_control_flow.py
  test/contrib/test_enum_elbo.py
  test/infer/test_autoguide.py
  test/infer/test_gradient.py
  test/infer/test_hmc_gibbs.py
  test/infer/test_mcmc.py
  test/test_distributions.py
  test/test_distributions_util.py
  test/test_handlers.py
  test/test_transforms.py
Due: ruff, ruff-format

Revert "ci: enable continue-on-error for all test jobs in CI workflow"
  .github/workflows/ci.yml
Due: none

fix(tests): increase tolerance levels in logistic regression and beta-bernoulli tests for improved accuracy
  test/contrib/test_tfp.py
Due: ruff, ruff-format

fix(tests): update PRNGKey initialization and tolerance levels in weight convergence test
  test/contrib/stochastic_support/test_dcc.py
Due: ruff, ruff-format

Update test_stein_loss.py
  test/contrib/einstein/test_stein_loss.py
Due: ruff, ruff-format

Update test_dcc.py
  test/contrib/stochastic_support/test_dcc.py
Due: ruff, ruff-format

chore(ci): disable continue-on-error for all test jobs in CI workflow (#1968)
  .github/workflows/ci.yml
  test/contrib/einstein/test_stein_loss.py
  test/contrib/stochastic_support/test_dcc.py
  test/contrib/test_tfp.py
Due: ruff, ruff-format

Do not create plates for observed sites in `AutoGuide`.
  numpyro/infer/autoguide.py
  test/infer/test_autoguide.py
Due: ruff, ruff-format, mypy

Do not create plates for observed sites in `AutoGuide`. (#1972)
  numpyro/infer/autoguide.py
  test/infer/test_autoguide.py
Due: ruff, ruff-format, mypy
