Repository pyro-ppl/numpyro: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check
        args: ["--fix", "--output-format=full"]
        files: "(.py$)|(.*.ipynb$)"
        language: system

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        files: "(.py$)|(.*.ipynb$)"

      - id: mypy
        name: mypy
        language: python
        entry: mypy --install-types --non-interactive
        files: ^numpyro/


  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-yaml
      - id: check-added-large-files
        exclude: notebooks/

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        stages: [pre-commit, commit-msg]
        args:
          [--ignore-words-list, "Teh,aas,ans", --check-filenames, --skip, "*.ipynb"]

fix: add type annotations for domain and codomain in `TransformT`
  numpyro/_typing.py
Due: ruff, ruff-format, mypy

instal from git
  notebooks/source/tbip.ipynb
Due: ruff, ruff-format

update numpyro version in tbip notebook (#2049)
  notebooks/source/tbip.ipynb
Due: ruff, ruff-format

Handle renaming of `pjit_p` to `jit_p`
  numpyro/ops/provenance.py
Due: ruff, ruff-format, mypy

Fix `typing_extensions` import issue
  numpyro/_typing.py
  numpyro/infer/elbo.py
  setup.py
Due: ruff, ruff-format, mypy

use tfp-nightly
  setup.py
Due: ruff, ruff-format

Replace tensorflow_probability with tfp-nightly
  setup.py
Due: ruff, ruff-format

Replace tensorflow_probability with tfp-nightly
  docs/requirements.txt
Due: none

Update jaxns upper bound
  setup.py
Due: ruff, ruff-format

Bump jaxns version
  docs/requirements.txt
Due: none

Use different jaxns version for Python 3.9
  docs/requirements.txt
Due: none

Handle renaming of `pjit_p` to `jit_p` (#2052)
  docs/requirements.txt
  numpyro/ops/provenance.py
  setup.py
Due: ruff, ruff-format, mypy

fix test
  test/contrib/test_module.py
Due: ruff, ruff-format

Fix `typing_extensions` import issue (#2054)
  numpyro/_typing.py
  numpyro/infer/elbo.py
  setup.py
Due: ruff, ruff-format, mypy

fix test (#2057)
  test/contrib/test_module.py
Due: ruff, ruff-format

test python 3.13
  .github/workflows/ci.yml
Due: none

missing changes
  .github/workflows/ci.yml
Due: none

Test against Python 3.13 (#2058)
  .github/workflows/ci.yml
Due: none

Update WishartCholesky.infer_shapes typing
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

Update WishartCholesky.infer_shapes typing (#2059)
  numpyro/distributions/continuous.py
Due: ruff, ruff-format, mypy

numpyro.contrib.module: only collect mutables in nnx_module() when they exist
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

test.contrib.test_module: expect mutables only when batchnorm or dropout active
  test/contrib/test_module.py
Due: ruff, ruff-format

numpyro.contrib.module: only collect mutables in nnx_module() when th… (#2061)
  numpyro/contrib/module.py
  test/contrib/test_module.py
Due: ruff, ruff-format, mypy

chore: incomplete changes for type hint in numpyro.distribution.transforms
  numpyro/_typing.py
  numpyro/distributions/constraints.py
  numpyro/distributions/transforms.py
  pyproject.toml
Due: ruff, ruff-format, mypy

refactor: update type hints and improve type safety across transforms and constraints
  numpyro/_typing.py
  numpyro/distributions/constraints.py
  numpyro/distributions/transforms.py
Due: ruff, ruff-format, mypy

Use functional interface funsor.adjoint.adjoint to avoid tracer leak (#2002)
  .github/workflows/ci.yml
  numpyro/contrib/funsor/discrete.py
  numpyro/contrib/funsor/infer_util.py
  test/contrib/test_enum_elbo.py
  test/contrib/test_infer_discrete.py
Due: ruff, ruff-format, mypy

fix: improve type casting in Transform class and ensure proper handling of inverse transforms
  numpyro/distributions/transforms.py
Due: ruff, ruff-format, mypy

chore: remove `numpy.typing.mypy_plugin` from mypy configuration
  pyproject.toml
Due: none

fix: update `_inv` type to support weak references in `Transform` class
  numpyro/distributions/transforms.py
Due: ruff, ruff-format, mypy

fix(tests): fix `stderr` calculation in `test/test_distributions::test_entropy_samples` to handle zero standard deviation
  test/test_distributions.py
Due: ruff, ruff-format

chore: mark `test_nnx_state_dropout_smoke` as xfail due to CI issue
  test/contrib/test_module.py
Due: ruff, ruff-format

fix(tests): fix `stderr` calculation in `test/test_distributions::test_entropy_samples` to handle zero standard deviation (#2069)
  test/contrib/test_module.py
  test/test_distributions.py
Due: ruff, ruff-format

ensure compatibility
  numpyro/contrib/module.py
Due: ruff, ruff-format, mypy

rm xfail
  test/contrib/test_module.py
Due: ruff, ruff-format

Ensure compatibility NNX 0.11.2 (#2067)
  numpyro/contrib/module.py
  test/contrib/test_module.py
Due: ruff, ruff-format, mypy

fix: update `intermediates` type to `Optional[PyTree]` in Transform classes and add PyTree type alias
  numpyro/_typing.py
  numpyro/distributions/transforms.py
Due: ruff, ruff-format, mypy

fix: update type hints in `Transform` classes to use `NonScalarArray` and `NumLike`
  numpyro/_typing.py
  numpyro/distributions/transforms.py
Due: ruff, ruff-format, mypy

fix: return type of `log_abs_det_jacobian` changed to `NumLike`
  numpyro/distributions/transforms.py
Due: ruff, ruff-format, mypy
